<%= javascript_include_tag "composite-nav" %>
<%= javascript_include_tag "modelblock" %>

<div id="search-models-result" class="auto-size-block">
	
	<div class="alert">Desculpe, mas este conteúdo só pode ser visualizado por usuários cadastrados | <%= link_to "Voltar para a home", subdomain_websites_home_path(@website.subdomain) %></div>

</div>