<div id="admin-model-manage-container" class="put-center">
  
  <div class="content-split"></div>
  
  <div id="admin-model-search-container" class="auto-size-block clear-margin put-relative">
    
    <div id="admin-model-search-content" class="admin-container-header">
      
		<p class="lead">Buscar Modelos</p>
      
      <div class="content-split"></div>
      
      <p class="default">Utilize os filtros abaixo para tornar a sua busca mais precisa. Depois de escolher os filtros desejados, clique no botão “Buscar”.</p>
      
      <div class="content-split"></div>

      <%= render 'search' %>
      
    </div>
    
  </div>
  
</div>