<div id="admin-model-manage-container" class="put-center">
  
  <div class="auto-size-block admin-panel-header">
    
    <span class="icon-title icon-title-model put-left">&nbsp;</span>
    <h2 class="put-left clear-margin-padding base-title title-manage-models">Gerenciar Modelos</h2>
    
  </div>
  
  <div class="content-split"></div>
  
  <div id="admin-model-search-container" class="auto-size-block clear-margin put-relative">
    
    <div class="admin-panel-full-top clear-margin-padding">&nbsp;</div>
    
    <div id="admin-model-search-content" class="admin-container-header">
      
      <span class="put-absolute admin-panel-header-icon admin-panel-header-icon-models">&nbsp;</span>
      <h3 class="put-left header-base-title header-title-search-models">Buscar Modelos</h3>
      
      <div class="content-split"></div>
      
      <p class="base-text">Utilize os filtros abaixo para tornar a sua busca mais precisa. Depois de escolher os filtros desejados, clique no botão “Buscar”.</p>
      
      <div class="content-split"></div>

      <%= render 'search' %>
      
    </div>
    
  </div>
  
</div>