<div id="website-guide-intro-container" class="put-center full-column-container">
  
	<!-- EXTERNAL HEADER -->
	<div id="guide-intro-header" class="auto-size-block">
		<h2>Seja Bem Vindo ao Sistema Über Casting</h2>
	</div>
  
	<div class="content-split"></div>

	<!-- CONTENT CONTAINER -->
	<div id="guide-intro-content-container" class="auto-size-block clear-margin put-relative">

		<div class="admin-panel-full-top clear-margin-padding">&nbsp;</div>

		<!-- INTERNAL CONTENT -->
		<div id="content" class="full-column-width content-body">

			<!-- INTERNAL BODY -->
			<div id="body" class="auto-size-block clear-margin">
				
				<p>Olá, seja bem vindo. Preparamos um passo-a-passo para que você configure as suas preferências de sistema e domine as ferramentas disponíveis rapidamente. No final, você estará pronto para gerenciar seus modelos, criar e compartilhar castings, fazer buscas utilizando filtros, e muito mais. E não se preocupe, as configurações realizadas neste passo-a-passo podem ser modificadas facilmente mais tarde. Caso tenha alguma dúvida, fique a vontade para entrar em contato conosco através do e-mail: <a href="mailto:contato@ubercasting.com.br?subject=[UBER] - Step by Step Ajuda">ÜBER - Ajuda</a>.</p>
				
				<h3 class="header-base-title-text">E então, pronto para <strong>começar?</strong></h3>
				
				<%= link_to "COMEÇAR", website_guide_path(@website), :id => "btn-guide-intro-start" %>
				
			</div>

		</div>

	</div>
  
</div>