<div id="agency-customer-manager" class="full-column-container put-center">
  
  	<div id="main-header" class="auto-size-block admin-panel-header">
		<span class="icon-title icon-title-gear put-left">&nbsp;</span>
		<h2 class="put-left clear-margin-padding font-title">Adicionar Novo <span class="font-title-bold">Cliente</span></h2>
	</div>
  
  <div class="content-split"></div>
  
  <div id="agency-customer-manager-content" class="auto-size-block clear-margin put-relative">
    
    <div class="admin-panel-full-top clear-margin-padding">&nbsp;</div>
    
    <div id="content" class="full-column-width content-body">
      
      <div id="subheader" class="auto-size-block admin-inner-container">
        
        <span class="put-absolute admin-panel-header-icon admin-panel-header-icon-customer">&nbsp;</span>
        
        <h3 class="header-base-title-text-small">Novo <strong>Cliente</strong></h3>
        <p class="base-text">Adicione um novo cliente completando o formulário abaixo. Para concluir, clique em "Salvar e Enviar" para que o cliente seja armazenado na base de dados. Ele também irá receber um e-mail de criação de conta e cadastro de senha.</p>

      </div>
      
      <div class="content-split"></div>
      
      <div id="body" class="auto-size-block clear-margin">
        
        <div id="form">
          <%= render 'form' %>
        </div>
        
      </div>
      
    </div>
    
  </div>
  
</div>


