<%= stylesheet_link_tag    "internal" %>

<div id="main-content-container" class="tour-content">
	
	<div id="content-wrapper">
		
		<div id="header">
			<h2>Termos de <strong>Uso</strong></h2>
			<h3>CONTRATO DE LICENÇA DE USO DE SISTEMA E SOFTWARE – ÜBER CASTING</h3>
		</div>
		
		<div id="body">
			
			<p><strong>Considerando</strong> que o <em>software</em> <em><em>Über Casting</em></em>, incluindo seus serviços, produtos e outros <em>software</em>s incorporados, a documentação, interfaces, conteúdo, fontes e quaisquer dados que acompanhem o seu dispositivo, que possam ser atualizados ou substituídos por melhorias de recursos, atualizações de <em>software</em> ou <em>software</em> de restauração de sistema, seja em memória apenas para leitura, em qualquer outro meio físico ou em qualquer outra forma são licenciados, não vendidos, pela <em><em>Über Casting</em></em> ao seu usuário para serem utilizados sob os termos desta Licença;</p>
			
			<p><strong>Considerando</strong> que a <em><em>Über Casting</em></em> e seus licenciadores conservam a propriedade do Software <em><em>Über Casting</em></em> e se reservam todos os direitos não concedidos expressamente aos usuários;</p>
			
			<p><strong>Considerando</strong> que os termos desta Licença regerão quaisquer Atualizações de <em>software</em> fornecidas pela <em>Über Casting</em> que substituam e/ou complementem o produto <em>software</em> original, a menos que tal atualização de Software esteja acompanhada por uma licença à parte, caso em que os termos daquela licença prevalecerão;</p>
			
			<p><strong>Considerando</strong> que a licença de utilização do <em>software</em> ao usuário é limitada e não exclusiva, podendo ser concedida a quantos usuários forem necessários;</p>
			
			<p><strong>Considerando</strong> que o usuário não pode, em qualquer hipótese, ceder ou distribuir o <em>software</em> a terceiros;</p>
			
			<p><strong>Considerando</strong> que o usuário teve contato, leu, conhece e concorda com as regras da política de privacidade disponível no website; que o usuário teve contato, leu, conhece e concorda com as regras da política de privacidade disponível no website;</p>
			
			<p><strong>Considerando</strong> que o <em>software</em> <em>Über Casting</em> é direcionado à agências de modelos, agências de propaganda e agências de publicidade e marketing, que serão seus usuários;</p>
			
			<p><strong>Considerando</strong> que os usuários do <em>software</em> <em>Über Casting</em> poderão cadastrar seus clientes no sistema para que estes tenham acesso ao conteúdo registrado pelo usuário no sistema e possam interagir direta e independentemente com este conteúdo;</p>
			
			<p><strong>Considerando</strong> que, por meio do <em>software</em>, os clientes das agências usuárias poderão montar castings de modelos a partir dos materiais cadastrados por estas ou solicitar castings de modelos diretamente a estas por meio de briefing;</p>
			
			<p>É o presente termo de licença de uso de <em>software</em> para pautar as regras existentes na relação entre sistema <em>Über Casting</em> e seu usuário, nos seguintes termos:</p>
			
			<h3>Cláusula 1ª – Das Leis Aplicáveis e Exequibilidade</h3>
			<p>Este instrumento será regido e interpretado de acordo com as leis brasileiras, especialmente o Código Civil, a Lei de Propriedade Intelectual e a Lei do Direito Autoral.</p>
			<p>Este instrumento não deverá ser regido ou interpretado pela convenção das Nações Unidas sobre contratos para a venda internacional de produtos.</p>
			<p>Na hipótese de qualquer cláusula, termo ou disposição deste instrumento ser declarada nula ou inexequível, tal nulidade ou inexequibilidade não afetará quaisquer outras cláusulas, termos ou disposições aqui contidas, as quais permanecerão em pleno vigor e efeito.</p>
			
			<h3>Cláusula 2ª – Do Plano Eleito Para Operacionalização do Software</h3>
			<p>A agência usuária declara que optou pelo plano de utilização selecionado inicialmente, sendo certo que o valor referente ao plano será quitado da forma eleita pelo usuário e nas datas de vencimento previstas.</p>
			<p>A agência usuária declara ter conhecimento das limitações de cadastro de modelos e usuários do plano eleito, sendo certo que poderá solicitar formalmente alteração do plano inicialmente escolhido, desde que arque com as diferenças de custos.</p>
			
			<h3>Cláusula 3ª – Da Utilização do Software Pelas Agências Usuárias</h3>
			<p>A agência usuária efetuará o cadastro dos(as) modelos que pretender armazenar dentro do sistema, fazendo upload das fotos de cada modelo.</p>
			<p>A agência usuária se compromete a respeitar as Leis e os bons costumes, não fornecendo informações, materiais, documentos ou fotos que possam expor o(a) modelo excessivamente.</p>
			<p>A agência usuária se compromete a não veicular material pornográfico, respondendo integralmente pelas consequências da utilização do sistema e dos arquivos disponibilizados no sistema.</p>
			<p>A agência usuária se compromete a criar os acessos de seus clientes no formato exigido pelo <em>software</em>, garantindo a veracidade das informações cadastradas.</p>
			<p>A agência usuária deverá optar pelo modo de visualização disponibilizado aos seus clientes que, após cadastrados, terão acesso ao sistema.</p>
			<p>O sistema <em>Über Casting</em> poderá guardar as fotos cadastradas no sistema por período indeterminado podendo compartilhar com usuários cadastrados no sistema.</p>
			<p>Os usuários concordam que os Serviços contêm conteúdo, informações e material do proprietário que são propriedade da <em>Über Casting</em>, de seus criadores, desenvolvedores, mantenedores e outros funcionários que estão protegidos pelas leis de propriedade intelectual, direitos autorais e outras.</p>
			<p>Os usuários concordam, ainda, que não poderão utilizar o conteúdo do sistema, informações ou materiais, além do uso permitido dos Serviços ou de maneira que infrinja os termos desta Licença ou quaisquer direitos de propriedade intelectual.</p>
			<p>Fica proibida a reprodução, modificação, alienação, distribuição, exploração de qualquer forma, a qualquer título e por quaisquer meios de quaisquer serviços, produtos ou conceito do <em>software</em> <em>Über Casting</em>, além da utilização como meio de assediar, abusar, perseguir, ameaçar, difamar ou infringir ou violar os direitos de qualquer outra parte, e que a <em>Über Casting</em> não é, de qualquer forma, responsável pelos atos dos usuários.</p>
			
			<h3>Cláusula 4ª – Do Cadastro e Informações Fornecidas por Usuários</h3>
			<p>Os usuários declaram que são proprietários de todos os direitos ou possuem autorização ou permissão legal para cadastrar as informações fornecidas ao <em>software</em>, e que este conteúdo não viola qualquer termo de serviço.</p>
			
			<h3>Cláusula 5ª – Da Utilização do Software Pelos Clientes Cadastrados Pelas Agências Usuárias</h3>
			<p>Os clientes serão cadastrados pela agência usuária a partir do preenchimento de todas as suas informações relevantes, conforme exigido pelo cadastro de clientes exposto no website.</p>
			<p>Cada cliente cadastrado receberá login e senha e, a partir deste momento, será autorizado a visualizar somente as informações postadas pela agência usuária.</p>
			<p>O cliente poderá solicitar um casting diretamente à agência usuária por meio do <em>software</em>, elaborando briefing com as características dos(as) modelos que pretende contratar para o trabalho a ser desenvolvido.</p>
			<p>O cliente poderá elaborar um casting diretamente no <em>software</em>, selecionando as modelos cadastradas pela agência usuária.</p>
			
			<h3>Cláusula 6ª – Da Autorização Para Retirada de Material do Sistema</h3>
			<p>O <em>software</em> <em>Über Casting</em>, por meio de seus mantenedores, reserva o direito de apagar quaisquer documentos que violem as Leis e bons costumes ou que possam expor excessivamente os(as) modelos cadastrados(as).</p>
			<p>O <em>software</em> <em>Über Casting</em>, por meio de seus mantenedores, reserva o direito de negar acesso a qualquer usuário que infrinja as regras aqui expostas ou que viole quaisquer leis ou as regras do bom costume.</p>
			<p>Os usuários poderão denunciar qualquer conteúdo impróprio que seja veiculado no <em>software</em> <em>Über Casting</em>, que poderá, dependendo da avaliação de seus mantenedores, ser apagado.</p>
			
			<h3>Cláusula 7ª – Do Cadastro Próprio de Modelos do Software</h3>
			<p>O <em>software</em> <em>Über Casting</em> disponibilizará às agências usuárias um banco de dados de modelos que se cadastrem diretamente no <em>software</em> por meio de um aplicativo existente no website de relacionamento facebook.</p>
			<p>O cadastro por meio do website de relacionamento facebook será feito diretamente pelos(as) modelos, que preencherão um cadastro com todas as suas características e farão upload de fotos.</p>
			<p>A partir do cadastro dos(as) modelos no banco de dados do <em>software</em>, as agências usuárias poderão contatar os(as) modelos diretamente para a realização de eventuais castings ou trabalhos.</p>
			<p>O <em>software</em> <em>Über Casting</em> não se responsabiliza pela veracidade das informações postadas pelos(as) modelos por meio do website de relacionamento facebook e não interferirá no contato entre agência usuária e modelos.</p>
			
			<h3>Cláusula 8ª – Da Utilização do Cadastro das Informações Pessoais</h3>
			<p>O cadastro elaborado pelas modelos no <em>software</em> <em>Über Casting</em> por meio do website de relacionamento facebook será propriedade do <em>software</em>.</p>
			<p>A <em>Über Casting</em> poderá partilhar estas informações pessoais e utilizá-las nos termos da Política de Privacidade disponível para consulta em seu website. Também poderá relacionar com outra informação para melhoria dos produtos, serviços e conteúdos oferecidos e disponibilizados aos usuários.</p>
			<p>A agência usuária do <em>software</em> declara ter conhecimento dos termos da política de privacidade que regulamenta sua utilização e a utilização das informações cadastradas.</p>
			
			<h3>Cláusula 9ª – Dos Materiais de Terceiros</h3>
			<p>Alguns Serviços podem exibir, incluir ou disponibilizar conteúdo, dados, informações, aplicativos ou materiais de terceiros, ou, ainda, fornecer links a determinados sites de terceiros. Ao utilizar os Serviços, você reconhece e concorda que o <em>software</em> <em>Über Casting</em> não é responsável pela investigação e avaliação do conteúdo, exatidão, validade, cumprimento de direitos autorais, legalidade, decência, qualidade ou por qualquer outro aspecto destes materiais ou sites de terceiros. O <em>software</em> <em>Über Casting</em>, seus desenvolvedores e mantenedores não garantem ou aprovam e não assumem ou não terão qualquer obrigação ou responsabilidade com os usuários ou com qualquer outra pessoa por quaisquer serviços, materiais ou sites de terceiros. Os Materiais de Terceiros e links a outros sites são fornecidos unicamente para sua comodidade.</p>
			<p>Os desenvolvedores e mantenedores do <em>software</em> <em>Über Casting</em> podem utilizar ou incluir <em>software</em> de terceiros e outros materiais com direitos autorais que serão regidos pelas suas próprias práticas de privacidade. Os usuários deverão se informar sobre eventuais regras de privacidade destas empresas.</p>
			
			<h3>Cláusula 10ª – Limitação de Responsabilidade</h3>
			<p>Em nenhuma hipótese o <em>Über Casting</em>, seus criadores, desenvolvedores e mantenedores serão responsáveis por eventuais danos, prejuízos ou perdas de dados decorrentes da inabilidade do usuário em operar o <em>software</em>, seus produtos e serviços ou de qualquer <em>software</em>, website ou aplicativo de terceiros relacionados ao <em>Über Casting</em>. Também não configura qualquer responsabilidade do <em>Über Casting</em> por eventuais falhas decorrentes das condições, características ou qualidade das máquinas utilizadas pelos usuários para operar o <em>software</em> ou das informações por estes cadastradas na plataforma <em>Über Casting</em>.</p>
			
			<h3>Cláusula 11 – Termos Gerais</h3>
			<p>As agências usuárias se responsabilizam pelos seus clientes e usuários garantindo que não promoverão qualquer ato hostil, violento, humilhante ou vexatório contra quaisquer usuários ou modelos, reprimindo-os com a denúncia e proibição de utilização do <em>software</em>, eximindo, desde já, os mantenedores do <em>software</em> <em>Über Casting</em>, por qualquer evento danoso aos usuários ou modelos, sendo que eventuais processos judiciais decorrentes de danos ocorridos durante o evento, serão respondidos pela agência usuária responsável pelas ações ou pelo cadastro do cliente que infringir esta cláusula.</p>
			<p>As agências usuárias garantirão a legalidade dos atos que forem praticados pelos seus clientes respondendo por estes nos âmbitos civil e criminal, sendo que, quaisquer penalidades advindas destes atos serão de sua total e exclusiva responsabilidade, isentando os mantenedores do <em>software</em> de quaisquer multas ou penalidades advindas da utilização.</p>
			<p>Caso os desenvolvedores ou mantenedores do <em>software</em> sejam demandados administrativa ou judicialmente por qualquer evento danoso ocorrido pela utilização do sistema, a agência responsável pelos atos ou cadastro do cliente responsável, possui a obrigação requerer em Juízo a exclusão dos desenvolvedores ou mantenedores do <em>software</em> do feito, assumindo todos os ônus decorrentes desses eventuais processos, inclusive o pagamento integral de toda e qualquer parcela, custas judiciais, extrajudiciais e honorários advocatícios que porventura sejam exigidos destes.</p>
			<p>Caso os desenvolvedores ou mantenedores do <em>software</em> <em>Über Casting</em> sejam condenados ao pagamento de qualquer verba, a agência usuária responsável se obriga a restituir àqueles, tão logo lhe for exigido, o valor dessa verba.</p>
			<p>Para todos os efeitos, a agência usuária responsável pelos atos danosos ou pelo cadastro do cliente responsável pelos atos danosos é considerada única e exclusiva responsável por quaisquer reivindicações ou ônus que vierem a ser imputados aos desenvolvedores ou mantenedores do <em>software</em> em decorrência de eventos ocorridos durante a utilização do <em>software</em>, a qualquer época, decorrentes de tais reivindicações judiciais ou extrajudiciais.</p>
			<p>Em caso de descumprimento de quaisquer obrigações acima elencadas, será aplicada multa de 100% do valor global do contrato, além da reposição de eventuais perdas e danos.</p>
			<p>Considerando que o serviço disponibilizado pelo <em>software</em> <em>Über Casting</em> é uma atividade meio de possibilitar o contato entre prestador e tomador de serviços e não atividade fim de contratação, o <em>software</em>, seus criadores, desenvolvedores e mantenedores não garantem resultados por aqueles que o utilizarem, pois há dependência da interação entre as partes usuárias, seus clientes e seus prestadores de serviço.</p>
			<p>Quaisquer defeitos que o <em>software</em> apresente em decorrência de sua má utilização ou da capacidade da máquina na qual este será utilizado, não é responsabilidade de seus criadores, desenvolvedores ou mantenedores. As especificações mínimas de qualidade das máquinas deverão ser atendidas pelos usuários.</p>
			<p>Eventuais defeitos do sistema que independam da forma de sua utilização ou da capacidade da máquina na qual será utilizado, serão corrigidos por seus mantenedores assim que forem detectados e conhecidos.</p>
			<p>Os usuários declaram que, ao utilizarem os Serviços disponibilizados, poderão se deparar com conteúdo cadastrado pelos usuários que pode ser considerado ofensivo, indecente ou indesejável, e que os resultados de qualquer pesquisa ou acesso a um determinado URL poderão automaticamente e não propositadamente gerar vínculos ou referências a material indesejável.</p>
			<p>Os usuários declaram e aceitam que o <em>software</em> <em>Über Casting</em> não tem qualquer responsabilidade pelo conteúdo cadastrado pelos seus usuários que possa ser considerado ofensivo, indecente ou indesejável.</p>
			
			<h3>Cláusula 12 – Vigência</h3>
			<p>O presente instrumento permanece vigente entre as partes até o descredenciamento do usuário no <em>software</em> <em>Über Casting</em>.</p>
			<p>Os direitos e obrigações regidos pelo presente instrumento encerrarão automaticamente, deixando de ser efetivos, sem a necessidade de aviso prévio da <em>Über Casting</em> se o usuário deixar de cumprir quaisquer termos deste instrumento.</p>
			<p>Com o término de vigência do presente instrumento, o usuário e seus clientes não poderão acessar quaisquer informações existentes dentro da plataforma do <em>software</em> e de seu website, mesmo que por ele cadastradas, não podendo reclamar qualquer devolução de valor eventualmente pago para a utilização.</p>
			<p>As partes acordam que as condições constantes neste contrato refletem as suas pretensões e interesses comerciais em substituição a todo e qualquer entendimento anterior. O presente instrumento prevalece sobre todos os entendimentos anteriores ou contemporâneos relativos ao referido uso do <em>software</em>. Nenhuma modificação, desistência ou aceitação em relação aos direitos e obrigações, oriundos do presente instrumento, será considerada válida se não for celebrada por escrito e assinada pela <em>Über Casting</em>. Qualquer tradução desta Licença será feita para atender às exigências locais do domicílio do usuário e, caso haja divergência entre as versões de diferentes idiomas, a versão em português deste instrumento deve prevalecer.</p>
			
			
		</div>
		
	</div>
	
</div>

