<%= stylesheet_link_tag    "internal" %>

<div id="main-content-container" class="tour-content">
	
	<div id="content-wrapper">
		
		<div id="header">
			<h2><strong>F.A.Q. - Perguntas Frequentes</strong></h2>
		</div>
		
		<div id="body">
			
			<div id="faq-questions">
				<h3>Perguntas</h3>
				<ol>
					<li><a id="h01" href="#help01">Como sei qual é o endereço do meu Ubersite?</a></li>
					<li><a id="h02" href="#help02">Como mudar o endereço do meu Ubersite?</a></li>
					<li><a id="h03" href="#help03">Como crio um modelo?</a></li>
					<li><a id="h04" href="#help04">Estou fazendo upload das fotos mas esta demorando muito.</a></li>
					<li><a id="h05" href="#help05">Como monto um casting?</a></li>
					<li><a id="h06" href="#help06">Como dou acesso ao meu ubersite para os meus clientes?</a></li>
					<li><a id="h07" href="#help07">Como compartilho um casting com o meu cliente?</a></li>
					<li><a id="h08" href="#help08">Como compartilho um casting com mais de um cliente?</a></li>
					<li><a id="h09" href="#help09">Como envio o casting criado direto do meu email pessoal e não via sistema.</a></li>
					<li><a id="h10" href="#help10">Como adiciono um modelo a um casting já criado?</a></li>
					<li><a id="h11" href="#help11">Meu cliente está tentando fazer um casting no meu site mas não consegue.</a></li>
					<li><a id="h12" href="#help12">Qual é a diferença entre o campo Gerenciar casting e Pedidos de casting?</a></li>
					<li><a id="h13" href="#help13">Como eu me comunico com o meu cliente via sistema?</a></li>
					<li><a id="h14" href="#help14">Como faço para colocar a ferramenta  do Uber no meu site atual?</a></li>
					<li><a id="h15" href="#help15">Meu cliente pediu o composite da modelo em pdf. Como faço?</a></li>
					<li><a id="h16" href="#help16">Meu cliente vai fazer um evento e quer uma listagem de todas as modelos. Como faço?</a></li>
				</ol>
			</div>
			
			<hr />
			
			<div id="faq-answers">
				<h3>Respostas</h3>
				
				<div id="faq-block-01" class="faq-answer-block">
					<h4>1 – Como sei qual é o endereço do meu Ubersite?</h4>
					<p>O seu Ubersite é aquele endereço que você escolheu quando cadastrou a sua empresa, esta informação encontra-se na aba <strong>Configurar Ubersite – Configurar Domínio.</strong></p>
					<a href="#" class="faq-top">Topo</a>
				</div>
				
				<div id="faq-block-02" class="faq-answer-block">
					<h4>2 – Como mudar o endereço do meu Ubersite?</h4>
					<p>Basta entrar na aba <strong>Configurar Ubersite – Configurar Domínio</strong> e digitar o nome desejado. Lembre-se que será verificado a disponibilidade do domínio solicitado.</p>
					<a href="#" class="faq-top">Topo</a>
				</div>
				
				<div id="faq-block-03" class="faq-answer-block">
					<h4>3- Como crio um modelo?</h4>
					<p>Basta entrar em <strong>Gerenciar modelos – Adicionar Modelos</strong>. Depois siga os passos abaixo:</p>
					<ul>
						<li>Preencha os campos solicitados;</li>
						<li>Selecione as imagens do modelo e clique um Começar upload;</li>
						<li>Selecione a imagem de perfil – botão escolher foto de perfil;</li>
						<li>Com as fotos do modelo no sistema monte o composite. Basta arrastar as imagens para os campos livres do postal, selecione uma das 3 cores disponíveis e finalize o processo.</li>
					</ul>
					<a href="#" class="faq-top">Topo</a>
				</div>
				
				<div id="faq-block-04" class="faq-answer-block">
					<h4>4 - Estou fazendo upload das fotos mas esta demorando muito.</h4>
					<p>Verifique o sinal da sua internet e o tamanho das imagens selecionadas. Quanto maior o tamanho das imagens mais tempo levará para o upload. </p>
				</div>
				
				<div id="faq-block-05" class="faq-answer-block">
					<h4>5– Como monto um casting?</h4>
					<ul>
						<li>Entre em Gerenciar Casting, crie um nome e clique em Adicionar novo casting;</li>
						<li>O casting criado aparacerá na listagem de  castings – logo abaixo e estará em ordem alfabética;</li>
						<li>Clique em adicionar modelos - ícone do boneco com o +;</li>
						<li>Dentro da página dos modelos, realize os filtros necessários;</li>
						<li>Selecione os modelos desejados;</li>
						<li>Adicione os modelos selecionados ao casting criado.</li>
					</ul>
					<a href="#" class="faq-top">Topo</a>
				</div>
				
				<div id="faq-block-06" class="faq-answer-block">
					<h4>6 – Como dou acesso ao meu ubersite para os meus clientes?</h4>
					<p>Basta clicar em <strong>Editar clientes – Criar novo usuário</strong> e preencha os campos solicitados. O seu cliente irá receber um email, cadastrará uma senha e terá acesso ao seu Ubersite para gerar castings ou para abrir os castings criados por você.</p>
					<em>* Importante: Sempre crie usuario e senha para cada cliente seu, nunca disponibilize a sua senha , pois ele terá acesso a todos os seus castings criados.</em>
					<a href="#" class="faq-top">Topo</a>
				</div>
				
				<div id="faq-block-07" class="faq-answer-block">
					<h4>7 – Como compartilho um casting com o meu cliente?</h4>
					<ul>
						<li>Dê acesso ao seu cliente em – Adicionar novo cliente;</li>
						<li>Depois crie o casting – Gerenciar casting e clique no botão compartilhar, ícone de nuvem com seta;</li>
						<li>Coloque o email do seu cliente.</li>
						<li>Clique no botão Compartilhar casting</li>
					</ul>
					<em>* Importante: Sempre crie usuario e senha para cada cliente seu, nunca disponilize a sua senha , pois ele terá acesso a todos os seus castings criados.</em>
					<a href="#" class="faq-top">Topo</a>
				</div>
				
				<div id="faq-block-08" class="faq-answer-block">
					<h4>8 – Como compartilho um casting com mais de um cliente?</h4>
					<p>Basta clicar em Compartilhar ( ícone de nuvem com seta), depois em adicionar email, por fim depois de colocar todos,  clique no botão Compartilhar casting . Não se esqueça que a pessoa precisa estar cadastrada (conforme ensinado na questão 6).</p>
					<em>* Importante: Sempre crie usuario e senha para cada cliente seu, nunca disponilize a sua senha , pois ele terá acesso a todos os seus castings criados.</em>
					<a href="#" class="faq-top">Topo</a>
				</div>
				
				<div id="faq-block-09" class="faq-answer-block">
					<h4>9 – Como envio o casting criado direto do meu email pessoal e não via sistema.</h4>
					<p>Para melhor organização sugerimos que as transações aconteçam via sistema, mas neste caso realize os passos abaixo:</p>
					<ul>
						<li>Dê acesso ao seu cliente em – Adicionar novo cliente (conforme ensinado na questão 6);</li>
						<li>Depois crie o casting – Gerenciar casting e clique no botão Compartilhar;</li>
						<li>Coloque o seu email;</li>
						<li>Você receberá o casting no seu email;</li>
						<li>Envie esse email para o seu cliente.</li>
					</ul>
					<em>* Importante: Sempre crie usuario e senha para cada cliente seu, nunca disponilize a sua senha , pois ele terá acesso a todos os seus castings criados.</em>
					<a href="#" class="faq-top">Topo</a>
				</div>
				
				<div id="faq-block-10" class="faq-answer-block">
					<h4>10 – Como adiciono um modelo a um casting já criado?</h4>
					<p>Basta você encontrar o casting no Gerenciar casting (caso você tenha feito o casting) ou em Pedidos de casting (caso o seu cliente tenha feito o casting) e clique em adicionar modelos - ícone do boneco com o +.</p>
					<a href="#" class="faq-top">Topo</a>
				</div>
				
				<div id="faq-block-11" class="faq-answer-block">
					<h4>11 – Meu cliente está tentando fazer um casting no meu site mas não consegue.</h4>
					<ul>
						<li>Verifique qual é a visualização que você escolheu, em Alterar visualização.</li>
						<li>Envie para o seu cliente o acesso do seu Ubersite em Editar clientes – Criar novo usuário (ensinado na questão 6).</li>
						<li>Verifique no seu painel de controle – Home – se há alguma solicitação de pedido de casting.</li>
					</ul>
					<em>* Importante: Sempre crie usuario e senha para cada cliente seu, nunca disponilize a sua senha , pois ele terá acesso a todos os seus castings criados.</em>
					<a href="#" class="faq-top">Topo</a>
				</div>
				
				<div id="faq-block-12" class="faq-answer-block">
					<h4>12 – Qual é a diferença entre o campo Gerenciar casting e Pedidos de casting?</h4>
					<p>No espaço Gerenciar casting  estão todos os castings criados pela sua agência para os seus clientes.</p>
					<p>No espaço Pedido de casting estão os castings criados pelos seus clientes e também é o local que encontram-se os castings já compartilhados.</p>
					<a href="#" class="faq-top">Topo</a>
				</div>
				
				<div id="faq-block-13" class="faq-answer-block">
					<h4>13 – Como eu me comunico com o meu cliente via sistema?</h4>
					<p>Depois de compartilhar um casting, você poderá conversar com o seu cliente via chat. Basta clicar - Home/mensagens ou pedidos de casting no botão mensagens e escrever qualquer informação para o seu cliente, que por sua vez, no mesmo local mencionado anteriormente, poderá responder.</p>
					<a href="#" class="faq-top">Topo</a>
				</div>
				
				<div id="faq-block-14" class="faq-answer-block">
					<h4>14 – Como faço para colocar a ferramenta  do Uber no meu site atual? </h4>
					<p>Na sua área administrativa, no botão Ubersite – Conectar sites verifique as opções disponíveis e informe ao desenvolvedor do seu site a opção que mais lhe agradou.</p>
					<a href="#" class="faq-top">Topo</a>
				</div>
				
				<div id="faq-block-15" class="faq-answer-block">
					<h4>15 – Meu cliente pediu o composite da modelo em pdf. Como faço?</h4>
					<p>Basta entrar na modelo desejada e clicar no composite e no botão pdf.</p>
					<a href="#" class="faq-top">Topo</a>
				</div>
				
				<div id="faq-block-16" class="faq-answer-block">
					<h4>16 – Meu cliente vai fazer um evento e quer uma listagem de todas as modelos. Como faço?</h4>
					<p>Basta você entrar na aba <strong>Casting - Gerenciar casting – e botão excel</strong>, logo ao lado do casting desejado.</p>
					<a href="#" class="faq-top">Topo</a>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</div>

