<%= stylesheet_link_tag    "internal" %>

<div id="main-content-container" class="tour-content">
	
	<div id="content-wrapper">
		
		<div id="header">
			<h2><strong>F.A.Q. - Perguntas Frequentes</strong></h2>
		</div>
		
		<div id="body">
			
			<h3>Página em construção</h3>
			<p>Novidades em breve.</p>
			
		</div>
		
	</div>
	
</div>

