<%= stylesheet_link_tag    "home" %>

<div id="video-player-container">
	<div id="video-player-modal">&nbsp;</div>
	<div id="video-player">
		<iframe src="http://player.vimeo.com/video/68701707" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
</div>

<div id="main-content-container">

<div id="main-content-wrapper">
	
	<div id="left-column">
		
		<div id="video-container">
			<div id="share-bar">
                <ul id="share-list">
                    <li><a href="#" onclick="javascript:return void(0);" title="Compartilhar no Facebook" class="share-fb">Compartilhar no Facebook</a></li>
                    <li><a href="#" onclick="javascript:return void(0);" title="Compartilhar no Twitter" class="share-tr">Compartilhar no Twitter</a></li>
                    <li><a href="#" onclick="javascript:return void(0);" title="Compartilhar no Google+" class="share-go">Compartilhar no Google+</a></li>
                    <li>&nbsp;</li>
                </ul>
            </div>
			<div id="video-container-obj">
				<a href="javascript:return void(0)" id="link-open-uber-video">open video</a>
			</div>
		</div>
		
	</div>
	
	<div id="right-column">
        <h2>Casting Made Easy</h2>
        <ul id="content-list">
            <li>&raquo; Software online para cadastrar e gerenciar modelos e atores.</li>
            <li>&raquo; Eficiência para montar, apresentar e compartilhar castings.</li>
            <li>&raquo; Segurança dos dados garantida com <a href="http://aws.amazon.com" target="_blank" class="simple-link">aws.amazon.com</a>.</li>
        </ul>
		<%=	link_to "EXPERIMENTAR", tour_path, :class => "btn-gold-experimentar"  %>
    </div>
	
</div>

</div>

<div id="bottom-content-container">
	
    <div id="bottom-content-wrapper">
    
        <div id="bottom-left-column" class="bottom-column">
            <a href="/tour#register_manage" title="Cadastro e Gerenciamento">
				<h4 id="bottom-title-01">Cadastro e Gerenciamento</h4>
	            <div id="folder01" class="img-container">Cadastro e Gerenciamento</div>
	            <p>Cadastros completos,organizados e padronizados para sua agência. <br />Saiba Mais</p>
			</a>
        </div>
        
        <div id="bottom-middle-column" class="bottom-column">
            <a href="/tour#search_select" title="Exiba e Compartilhe">
				<h4 id="bottom-title-02">Busque e Selecione</h4>
	            <div id="folder04" class="img-container">Busque e Selecione</div>
	            <p> Busca avançada de modelos e seleção de composites para job do seu cliente. <br />Saba Mais.</p>
			</a>
        </div>
        
        <div id="bottom-right-column" class="bottom-column">
            <a href="/tour#display_share"title="Exiba e Compartilhe">
				<h4 id="bottom-title-03">Exiba e Compartilhe</h4>
	            <div id="folder02" class="img-container">Exiba e Compartilhe</div>
	            <p>Castings  selecionados  e compartilhados <br />online com seus clientes. <br />Saiba Mais</p>
			</a>
        </div>
    
    </div>
    
</div>
