<%= stylesheet_link_tag    "home" %>

<div id="main-content-container">

<div id="main-content-wrapper">
	
	<div id="left-column">
		
		<div id="video-container">
			<div id="share-bar">
                <ul id="share-list">
                    <li><a href="#" onclick="javascript:return false;" title="Compartilhar no Facebook" class="share-fb">Compartilhar no Facebook</a></li>
                    <li><a href="#" onclick="javascript:return false;" title="Compartilhar no Twitter" class="share-tr">Compartilhar no Twitter</a></li>
                    <li><a href="#" onclick="javascript:return false;" title="Compartilhar no Google+" class="share-go">Compartilhar no Google+</a></li>
                    <li>&nbsp;</li>
                </ul>
            </div>
			<div id="video-container-obj">&nbsp;</div>
		</div>
		
	</div>
	
	<div id="right-column">
        <h2>Casting Made Easy</h2>
        <ul id="content-list">
            <li>&raquo; Organização online para cadastrar e gerenciar modelos.</li>
            <li>&raquo; Dinamismo para buscar e selecionar composites.</li>
            <li>&raquo; Eficiência para montar, apresentar e compartilhar castings.</li>
        </ul>
		<%=	link_to "EXPERIMENTAR", agency_root_path, :class => "btn-gold-experimentar"  %>
    </div>
	
</div>

</div>

<div id="bottom-content-container">
	
    <div id="bottom-content-wrapper">
    
        <div id="bottom-left-column" class="bottom-column">
            <a href="/control_panel" title="Cadastro e Gerenciamento">
				<h4 id="bottom-title-01">Cadastro e Gerenciamento</h4>
	            <div id="folder01" class="img-container">Cadastro e Gerenciamento</div>
	            <p>Cadastros completos,organizados e padronizados para sua agência. <br />Saiba Mais</p>
			</a>
        </div>
        
        <div id="bottom-middle-column" class="bottom-column">
            <a href="#" title="Exiba e Compartilhe">
				<h4 id="bottom-title-02">Busque e Selecione</h4>
	            <div id="folder04" class="img-container">Busque e Selecione</div>
	            <p> Busca avançada de modelos e seleção de composites para job do seu cliente. <br />Saba Mais.</p>
			</a>
        </div>
        
        <div id="bottom-right-column" class="bottom-column">
            <a href="#"title="Exiba e Compartilhe">
				<h4 id="bottom-title-03">Exiba e Compartilhe</h4>
	            <div id="folder02" class="img-container">Exiba e Compartilhe</div>
	            <p>Castings  selecionados  e compartilhados <br />online com seus clientes. <br />Saiba Mais</p>
			</a>
        </div>
    
    </div>
    
</div>
