<%= stylesheet_link_tag    "internal" %>

<div id="main-content-container" class="tour-content">
	
	<div id="content-wrapper">
		
		<div id="header">
			<h2>Política de <strong>Privacidade</strong></h2>
			<h3>POLÍTICA DE PRIVACIDADE – ÜBER CASTING</h3>
		</div>
		
		<div id="body">
			
			<p>A sua privacidade é importante para o sistema Über Casting. Por isso foi desenvolvida uma Política de Privacidade que abrange como são captadas, utilizadas, reveladas, transferidas e armazenadas informações pessoais dos usuários.</p>
			
			<p>É necessária a análise das condições expostas no presente documento de práticas de privacidade para o questionamento de eventuais dúvidas.</p>
			
			<h3>Captação e Utilização de Informação Pessoal</h3>
			<p>Informações Pessoais são dados que dizem respeito a uma única pessoa e podem ser utilizados para identificá-la ou contatá-la.</p>
			
			<p>Poderá ser solicitado ao usuário do sistema e do website que disponibilize suas informações pessoais a qualquer momento em que esteja em contato com o sistema Über Casting. A Über Casting poderá partilhar estas informações pessoais e utilizá-las de acordo com esta Política de Privacidade. Também poderá relacionar com outra informação para melhoria dos produtos, serviços e conteúdos oferecidos e disponibilizados aos usuários.</p>
			
			<p>Neste documento serão identificados alguns tipos de informações pessoais que a Über Casting pode captar e o modo como pode utilizá-la.</p>
			
			<h3>Informação Pessoal Captada</h3>
			<p>Quando é feito o cadastro de uma modelo via aplicativo da Über Casting nas redes de relacionamento virtual, são recolhidas todas as informações preenchidas, tais como o seu nome, endereço de correio, número de telefone, endereço de email, preferências de contato, bem como suas fotos.</p>
			
			<p>Suas informações serão disponibilizadas às agências cadastradas no sistema Über Casting e permanecerão armazenadas em nosso banco de dados. As agências poderão visualizar suas informações e fotos, a partir das quais poderão realizar a contratação da profissional de forma independente ao sistema.</p>
			
			<h3>Como São Utilizadas as Informações Pessoais</h3>
			<p>A informação pessoal captada e registrada permite ao sistema manter o usuário informado sobre ferramentas e produtos criados, eventuais atualizações de software, contatos feitos por agências, entre outras comunicações. Também nos permite melhorar os nossos serviços, conteúdos e publicidade. Caso não deseje estar na nossa lista de mailing, poderá solicitar a sua exclusão a qualquer momento atualizando as suas preferências.</p>
			
			<p>Ocasionalmente, poderemos utilizar a sua informação pessoal para enviar avisos importantes, tais como comunicações sobre castings, seleções, trabalhos e alterações aos nossos termos, condições e políticas. Considerando que estas informações são de suma importância para a interação do usuário com o sistema Über Casting, não há opção de não receber estas comunicações.</p>
			
			<p>Também poderão ser utilizadas as informações pessoais para trabalhos internos, tais como auditorias, análise de dados e pesquisa para melhora de produtos, serviços e comunicações com os usuários.</p>
			
			<h3>Captação e Utilização de Informação Não Pessoal</h3>
			<p>Também serão captadas informações não pessoais que poderão ser utilizadas, transferidas e reveladas para qualquer finalidade.</p>
			
			<p>As informações não pessoais são dados não associáveis com qualquer indivíduo específico, tais como informações sobre profissão, idioma, código postal, código de área, identificador único de aparelho e localização onde o cadastro de usuários do sistema Über Casting é feito, de modo que possam ser entendidos e melhorados nossos produtos, serviços e publicidade.</p>
			
			<p>Também podemos recolher informações relacionadas a atividades de usuários no nosso website, sistema, serviços e produtos. Esta informação poderá ser utilizada para melhorar a utilização do sistema aos nossos usuários, detectando quais produtos e serviços lhes são de maior interesse.</p>
			
			<p>Caso a informação não pessoal seja compartilhada com a informação pessoal, o conjunto de informações será tratado como informação pessoal.</p>
			
			<h3>Cookies e Outras Tecnologias</h3>
			<p>O website da Über Casting, seus serviços e produtos online, aplicações interativas, mensagens de email e os anúncios podem utilizar “cookies” e outras tecnologias tais como pixel tags e web beacons. Estas tecnologias ajudam-nos a perceber melhor o comportamento do usuário, dizem-nos que partes do nosso website os usuários visitaram, facilitam e medem a efetividade dos anúncios e das pesquisas na web. Tratamos a informação recolhida pelos cookies e outras tecnologias como informação não pessoal. Contudo, caso o endereço de internet-protocol (IP) ou identificadores semelhantes sejam considerados como informação pessoal pela lei local, estes identificadores serão considerados informação pessoal.</p>
			
			<p>A Über Casting utiliza cookies e outras tecnologias para se recordarem de informação pessoal quando utiliza o seu próprio website, serviços online e demais produtos. O objetivo é tornar o uso do sistema mais conveniente e pessoal.</p>
			
			<p>Algumas informações são captadas de modo automático para armazenamento em ficheiros de registro (log files). Esta informação inclui os endereços de Internet Protocol (IP), tipo de browser e linguagem, Prestador de Serviços de Internet (Internet Service provider - ISP), páginas de referência e de saída, sistema operativo, selo de data/hora e dados clickstream.</p>
			
			<p>Esta informação será utilizada para analisar e compreender as tendências, para administrar o website, para aprender sobre o comportamento de utilização do website e para recolher informações demográficas sobre a base de usuários como um todo. A Über Casting poderá utilizar esta informação nos serviços de marketing e publicidade.</p>
			
			<p>Os pixel tags permitem o envio de mensagens de email utilizando um formato que os usuários conseguem ler, relatando se o email foi aberto. Esta informação pode ser utilizada para reduzir ou eliminar mensagens enviadas aos usuários.</p>
			
			<h3>Divulgação a Terceiros</h3>
			<p>Ocasionalmente, a Über Casting poderá disponibilizar a parceiros estratégicos responsáveis por desenvolver produtos e serviços ligados ao sistema, determinada informação pessoal do usuário. Caso o cadastro do usuário seja aprovado para o serviço, a sua utilização será regida pelas políticas de privacidade. A informação pessoal apenas será partilhada pela Über Casting para melhorar os serviços, produtos e publicidade, não sendo partilhada com terceiros para finalidades de marketing.</p>
			
			<h3>Prestadores de Serviços</h3>
			<p>A Über Casting poderá partilhar informação pessoal com empresas que prestam serviços como de informação ao usuário, gestão e melhoria do sistema, prestação de serviços ao usuário, avaliação de interesse nos produtos e serviços do sistema, busca de usuários e modelos ou avaliação de satisfação. Estas empresas estão obrigadas a proteger a sua informação e podem estar localizadas em qualquer território.</p>
			
			<h3>Outras Modalidades de Divulgação a Terceiros</h3>
			<p>As informações pessoais poderão ser divulgadas pela Über Casting por mandamento legal, judicial, por meio de processo legal, contencioso e/ou pedidos de autoridades públicas ou governamentais dentro ou fora do seu país de residência. As informações também poderão ser divulgadas se necessárias à segurança nacional, aplicação da lei ou outros assuntos de interesse público.</p>
			
			<p>Poderão ser divulgadas informações pessoais caso haja necessidade para cumprimento dos termos e condições de uso ou para proteção dos usuários. Adicionalmente, na eventualidade de uma reorganização ou operação societária, como incorporação, fusão ou cisão, as informações poderão ser transferidas.</p>
			
			<h3>Proteção da Informação Pessoal</h3>
			<p>A Über Casting adota medidas administrativas e técnicas para precaução para guarda das informações pessoais contra a perda, roubo e utilização indevida, bem como contra o acesso não autorizado.</p>
			
			<h3>Integridade e Conservação da sua Informação Pessoal</h3>
			<p>A Über Casting realiza manutenção das informações pessoais cadastradas no sistema para que ela se mantenha correta, completa e atualizada. As informações pessoais serão mantidas em arquivo pelo período de tempo necessário para as finalidades indicadas nesta Política de Privacidade, exceto se for necessário ou permitido por lei um período de retenção mais reduzido ou elevado.</p>
			
			<h3>Acesso do Usuário à Própria Informação Pessoal</h3>
			<p>Será permitido ao usuário o acesso às suas próprias informações pessoais, sendo-lhe facultada a alteração ou correção dos dados eventualmente incorretos ou eliminação de dados desnecessários. Pedidos que são injustificadamente repetitivos, que requeiram um esforço técnico desproporcional, que possam colocar em perigo a privacidade de outros, ou para os quais o acesso não é de outro modo exigido por lei local, poderão ser negados pela Über Casting.</p>
			
			<h3>Informações de Menores de 16 Anos</h3>
			<p>Não é permitido o cadastro com preenchimento de informações de crianças menores de 16 anos de idade sem que haja o cadastro de um responsável legal. Caso haja o cadastro de informações relativas a uma criança com menos de 16 anos de idade, estas poderão ser apagadas independentemente de autorização.</p>
			
			<h3>Serviços Baseados na Localização</h3>
			<p>De modo a orientar os serviços com base na localização dos usuários, o sistema Über Casting cadastrará, utilizará e partilhará dados precisos da localização dos usuários, incluindo sua localização geográfica. Os dados de localização são cadastrados de forma anônima em formato que não haja possibilidade de identificação pessoal e será utilizado pela Über Casting e seus parceiros e licenciados para prestar serviços e melhorar os produtos disponibilizados aos usuários.</p>
			
			<h3>Websites e Serviços de Terceiros</h3>
			<p>O website, produtos, aplicações e serviços da Über Casting poderão conter links para websites, produtos e serviços de terceiros. Os produtos e serviços da Über Casting podem, também, utilizar ou oferecer produtos e serviços de terceiros. Estes acessos e preenchimento de informações cadastrais serão regidos pelas suas próprias práticas de privacidade. Os usuários deverão se informar sobre eventuais regras de privacidade destas empresas.</p>
			
			<h3>Usuários Internacionais</h3>
			<p>As informações cadastradas no sistema Über Casting poderão ser transferidas ou acessadas por usuários de todo o mundo, como descrito nesta Política de Privacidade.</p>
			
			<h3>Compromisso Corporativo à Privacidade do Usuário</h3>
			<p>Para garantir a segurança da privacidade do usuário, as diretrizes de segurança e privacidade da Über Casting são comunicadas aos seus funcionários e prestadores de serviço, sendo garantido seu cumprimento com medidas administrativas e coorporativas da empresa.</p>
			
			<h3>Questões Sobre Privacidade</h3>
			<p>Para dirimir quaisquer dúvidas sobre esta política de privacidade, a empresa Über Casting disponibiliza seus contatos para todos os seus usuários que poderão livremente questionar o funcionamento de quaisquer cadastros do sistema.</p>
			<p>A Über Casting poderá, periodicamente, atualizar sua Política de Privacidade. Quando esta Política sofrer alterações significativas, avisos serão publicados no website e poderão ser comunicados via correio eletrônico, conjuntamente com a versão atualizada da Política de Privacidade.</p>
			
		</div>
		
	</div>
	
</div>

