<%= stylesheet_link_tag    "internal" %>

<div id="main-content-container" class="tour-content">
	
	<div id="content-wrapper">
		
		<div id="header">
			<h2><strong>Tour</strong></h2>
			<h3 class="sub-title">Assita aos vídeos abaixo para entender melhor o funcionamento do sistema.</h3>
		</div>
		
		<div id="body">
			
			<div class="tab-selector-container">
				<ul>
					<li><a href="#" id="item01" title="Sistema Geral" class="tab-item item01 link-active">Sistema Geral</a></li>
					<li><a href="#" id="item02" title="Cadastro e Gerenciamento" class="tab-item item02">Cadastro e Gerenciamento</a></li>
					<li><a href="#" id="item03" title="Busque e Selecione" class="tab-item item03">Busque e Selecione</a></li>
					<li><a href="#" id="item04" title="Exiba e Compartilhe" class="tab-item item04">Exiba e Compartilhe</a></li>
					<li><%= link_to "Comece Agora", new_agency_registration_path, :class => "item05 link-stand-out" %></li>
				</ul>
			</div>
			
			<div class="content-split"></div>
			
			<div id="video-title" class="auto-size-block">
				<h4>Sistema <strong>Geral</strong></h4>
				<p>
					<strong>Veja agora o Tour completo do Uber-Casting Made Easy,</strong><br />
					Navegue pelas principais funcionalidades do sistema e veja como esse software online poderá facilitar o dia-dia da sua empresa. Aprenda como cadastrar, buscar e compartilhar castings com os seus clientes de forma prática e dinâmica. Experimente agora essa ferramenta que otimiza, organiza e facilita a entrega dos seus casting.
				</p>
			</div>
			
			<div id="video-player" class="auto-size-block">
				<div id="player-01" class="video-player-block" style="display:none;">&nbsp;</div>
				<div id="player-02" class="video-player-block" style="display:none;">&nbsp;</div>
				<div id="player-03" class="video-player-block" style="display:none;">&nbsp;</div>
				<div id="player-04" class="video-player-block" style="display:none;">&nbsp;</div>
			</div>
			
			
		</div>
		
	</div>
	
</div>

