<%= stylesheet_link_tag    "internal" %>

<div id="main-content-container">
	
	<div id="content-wrapper">
		
		<div id="header">
			<h2>Quem Somos</h2>
			<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu nunc quis lorem fermentum posuere. Phasellus nec felis semper elit rhoncus scelerisque.</h3>
		</div>
		
		<div id="body">
			
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu nunc quis lorem fermentum posuere. Phasellus nec felis semper elit rhoncus scelerisque. Cras ac tellus id justo feugiat malesuada. Suspendisse sit amet tempor enim. Sed purus dolor, convallis id condimentum a, imperdiet eget libero. Aliquam interdum, magna nec tincidunt varius, eros magna molestie elit, eget tincidunt ligula felis eu lorem. Maecenas felis lacus, dignissim sed sagittis vel, aliquam molestie enim. Vivamus a nunc urna. Etiam leo justo, ultrices vestibulum convallis non, tempus et neque. Sed hendrerit laoreet feugiat. Donec metus nibh, fringilla et rhoncus ac, posuere id odio. Morbi cursus pharetra enim ut consequat. Pellentesque justo metus, egestas egestas dictum in, mattis sit amet magna. Quisque placerat dignissim sapien vitae fringilla.</p>
               <ul class="list">
                   <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu</li>
                   <li>Aliquam sollicitudin ante at orci varius rhoncus</li>
                   <li>Maecenas felis lacus, dignissim sed</li>
                   <li>Etiam leo justo, ultrices vestibulum convallis non,</li>
                   <li>Vivamus a nunc urna. Etiam leo justo</li>
                   <li>Vivamus a nunc urna. Etiam leo justo</li>
               </ul>
               <ul class="folder">
              	   <li class="setting"><a href="/control_panel">A</a></li>
                   <li class="seta"><a href="#">B</a></li>
                   <li class="balao"><a href="/viewtestimonials">C</a></li>
               </ul>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu nunc quis lorem fermentum posuere. Phasellus nec felis semper elit rhoncus scelerisque. Cras ac tellus id justo feugiat malesuada. Suspendisse sit amet tempor enim. Sed purus dolor, convallis id condimentum a, imperdiet eget libero. Aliquam interdum, magna nec tincidunt varius, eros magna molestie elit, eget tincidunt ligula felis eu lorem. Maecenas felis lacus, dignissim sed sagittis vel, aliquam molestie enim. Vivamus a nunc urna. Etiam leo justo, ultrices vestibulum convallis non, tempus et neque. Sed hendrerit laoreet feugiat. Donec metus nibh, </p>
			
			<div id="ajudar-content">
            	<h2>Como Podemos Ajudar</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu nunc quis lorem fermentum posuere. Phasellus nec felis semper elit rhoncus scelerisque. Cras ac tellus id justo feugiat malesuada. Suspendisse sit amet tempor enim. Sed purus dolor, convallis id condimentum a, imperdiet eget libero. Aliquam interdum, magna nec tincidunt varius, eros magna molestie elit, eget tincidunt ligula felis eu lorem. Maecenas felis lacus, dignissim sed sagittis vel, aliquam molestie enim. Vivamus a nunc urna. Etiam leo justo, ultrices vestibulum convallis non, tempus et neque. Sed hendrerit laoreet feugiat. Donec metus nibh, </p>
                <span class="ajudar-email">
                	contato<br />
                    ajuda<br />
                    suporte<br />
                </span>
                <span class="email">
               		@ubercasting.com 
                </span>
				<a href="mailto:contato@ubercasting.com.br?subject=[Contato Site] Quem Somos" class="btn-enviar-email">Enviar Email</a>
            </div>
			
		</div>
		
	</div>
	
</div>

