<%= stylesheet_link_tag    "internal" %>

<div id="main-content-container">
	
	<div id="content-wrapper">
		
		<div id="header">
			<h2>Quem Somos</h2>
		</div>
		
		<div id="body">
			
			<p>O <strong>ÜBER – Casting Made Easy</strong>, é um software online pensado exclusivamente para tornar mais eficiente a comunicação e venda das agências de modelos e atores, com seus clientes.</p>
           	<p>A ferramenta tem como missão agregar valor ao serviço prestado pelas agências, possibilitando uma forma inovadora e organizada de apresentar, administrar e compartilhar castings, tudo isso de forma segura e rápida.</p>
			<p>O <strong>ÜBER</strong> foi desenvolvido e é gerido por um grupo de profissionais e investidores das áreas de publicidade, tecnologia e administração, que tem  como objetivo desenvolver soluções e ferramentas online para empresas de serviços.</p>
			
			<div id="ajudar-content">
            	<h2>Como Podemos Ajudar</h2>
				<span class="email">
               		contato@ubercasting.com 
                </span>
				<a href="mailto:contato@ubercasting.com.br?subject=[Contato Site] Quem Somos" class="btn-enviar-email">Enviar Email</a>
            </div>
			
		</div>
		
	</div>
	
</div>

