<div id="admin-model-search-body" class="auto-size-block clear-margin-padding">
	
	<%= form_tag models_path, :method => 'get', :id => "models_search" do %>
	
		<div id="search-criteria">
			<%= render 'search_criteria' %>
		</div>
		
		<div class="content-split"></div>
		
		<div id="models">
			<%= render "search_result_#{current_agency.subscription.name}" %>
		</div>
		
	<% end %>
	
</div>