<div class="page-header">
  <% if params[:source] == 'edit' %>
      <h1>Editar Modelo</h1>
  <% else %>
      <h1>Adicionar Novo Modelo</h1>
  <% end %>
</div>

<h3>Etapa 05 de 05</h3>
<h2>Seleção de Composite</h2>

<%= render 'form' %>