<div id="search-gallery-result" class="auto-size-block">
    
    <% for item in @gallery_items %>
    
        <div class="model-box">
            
            <div class="model-box-img">
                
                <% if item.image? %>
                    <%= image_tag item.image.url(:thumb) %>
                <% end %>
            
            </div>
            
            <div class="model-box-links">
                
                <ul>
                    <li><h4><a href="<%= item.image.url(:thumb) %>" rel="lightbox[roadtrip]" title="<%= item.title %>"><%= item.title %></a></h4></li>
                </ul>
                
            </div>
            
        </div>
    
    <% end %>

</div>