<div id="admin-gallery-manage-container" class="put-center">

  <div class="content-split"></div>
  
  <div id="admin-gallery-search-container" class="auto-size-block clear-margin put-relative">

    <div id="admin-gallery-search-content" class="admin-container-header">

      <p class="lead">Galeria</p>
      
      <div class="content-split"></div>

      <div id="search">
        <%= render 'search' %>
      </div>
      
    </div>
    
  </div>
  
</div>