<div id="casting-manager" class="full-column-container put-center">
  
  <div id="main-header" class="auto-size-block admin-panel-header">
    
    <span class="icon-title icon-title-cloud put-left">&nbsp;</span>
	<h2 class="put-left clear-margin-padding font-title">Pedidos de <span class="font-title-bold">Casting</span></h2>
    
  </div>
  
  <div class="content-split"></div>
  
  <div id="casting-manager-content" class="auto-size-block clear-margin put-relative">
    
    <div class="admin-panel-full-top clear-margin-padding">&nbsp;</div>
    
    <div id="content" class="full-column-width content-body">
      
      <div id="subheader" class="auto-size-block admin-inner-container">
        
        <span class="put-absolute admin-panel-header-icon admin-panel-header-icon-casting">&nbsp;</span>
        
        <h3 class="header-base-title-text-small">Castings de <span>seus clientes</span></h3>
        <p class="base-text">Os castings abaixo foram criados pelos clientes cadastrados em seu Über site. Quando eles criam um casting, este é automaticamente compartilhado com você. Você pode visualizar, editar e excluir todos os castings. Ao atualizar um casting, as mudanças são compartilhadas com seu cliente também de forma automática. Se quiser, você ainda pode enviar uma mensagem para ele, alertando-o das modificações.</p>
        
      </div>
      
      <div class="content-split"></div>
      
      <div id="body" class="auto-size-block clear-margin">
        
        <div id="search">
          <%= render 'search' %>
        </div>
        
      </div>
      
    </div>
    
  </div>
  
</div>