<div class="btn-group">
  <% (1..5).each do |score| %>
    <% if casting_model.score and casting_model.score >= score %>
      <%= link_to score, model_casting_update_score_path(casting_model, score: score), remote: true, method: :put, class: 'btn btn-inverse' %>
    <% else %>
      <%= link_to score, model_casting_update_score_path(casting_model, score: score), remote: true, method: :put, class: 'btn' %>
    <% end %>
  <% end %>
</div>