<div class="page-header">
  <h1>Gerenciar Castings</h1>
</div>

<h2>Lista de Castings</h2>
<p>Navegue pelas listas de castings já criadas ou crie novas listas para serem compartilhadas.</p>

<div id="search">
  <%= render 'search' %>
</div>

<%= link_to 'New Casting', new_casting_path %>
