$("#modals").empty();
$("#modals").html("<%= escape_javascript(render('castings/modals/share')) %>");
$("#modal-share-casting").modal('show');
$("#modal-share-casting").on('shown', function () {
	
	$("#modal-share-casting li.loader-gif").hide();
	
	$("#modal-share-casting input#btn-send-share-casting").click(function(){
		$(this).hide();
		$("#modal-share-casting li.loader-gif").show();

		var emails = $('ul#new-message-list input.customer-email').map(function() { return this.value; });
		$("#modal-share-casting input#customer").val(emails.get().join(';'));
	});
	
	$("ul#new-message-list li:eq(0) input").focusin(function(event) {
		$("ul#new-message-list li:eq(0)").mousedown(function(event) {
			$("ul#new-message-list li:eq(0) input").val($("ul#new-message-list li:eq(0) ul.dropdown-menu").find("li.active").attr("data-value"));
		});
	});
	
	//ADD E-MAIL FIELD TO SHARE - CASTING
	function addEmailField(){
		var shareLimit = 5;

		$("a#share-add-address").click(function(event){
			event.preventDefault();
			var inputCopy = $('ul#new-message-list li:eq(0)').html();

			var totalInputs = $('ul#new-message-list input.customer-email').size();
			if (totalInputs < shareLimit) {
				$('ul#new-message-list').prepend('<li>'+inputCopy+'</li>');
				$('ul#new-message-list li:eq(0)').css("outline","none");
			};
			
			$('a#reset-share-add-address').removeClass("offline");
		});
		
		$('a#reset-share-add-address').click(function(event){
			event.preventDefault();
			
			if ( $('ul#new-message-list li').length > 3 ){
				var totalList = $('ul#new-message-list li').length - 3;
				for (var i = 0; i < totalList; i++) {
					$('ul#new-message-list li:eq(0)').remove();
				};
				$('a#reset-share-add-address').addClass("offline");
			};
			
		});
	}
	
	//METHOD CALLING
	addEmailField();
	
});