<div id="about-content-container">
	<div id="about-content-info" class="put-left">
		<p class="lead">Sobre a agência</p>
		<p><%= @website.agency.agency_about %></p>
	</div>
	
	<div id="about-content-picture" class="put-right">
		<ul class="auto-size-block put-list-inline">
        	<li><%= image_tag "theme-cubical/photo-quem-somos/img01.jpg" %></li>
            <li><%= image_tag "theme-cubical/photo-quem-somos/img01.jpg" %></li>
        </ul>
	</div>
</div>