<div id="about-content-container">
	<div id="about-content-info" class="put-left">
		<p class="lead">Sobre a agência</p>
		<p class="default"><%= @website.agency.agency_about %></p>
	</div>
	
	<div id="about-content-picture" class="put-right">
		<ul id="about-picture-list" class="auto-size-block">
			<li class="about-picture"><%= image_tag @website.agency.models[0].photos[0].image.url(:main_composite) %></li>
            <li class="about-picture"><%= image_tag @website.agency.models[1].photos[1].image.url(:main_composite) %></li>
        </ul>
	</div>
</div>