<div id="home-content-container" class='auto-size-block put-center put-relative'>
	
	<div id="slide-loader">
		<%= image_tag("theme-subdomain/ajax-loader.gif") %>
	</div>
	
	<input type='hidden' id='current_page' />  
	<input type='hidden' id='show_per_page' />
	
	<div id="slide-photo-nav">
		<a id="btn-left" href="#">&lt;</a>
		<a id="btn-right" href="#">&gt;</a>
	</div>
	
	<div id="home-slider" class="is-slide-show">
		<div id="home-slider-container">
			<% @models.each do |model| %>
				<div class="theme-home-model-box">
					<%= model.name %>
					<%= image_tag model.avatar.url %>
				</div>
			<% end %>
		</div>
	</div>
	
</div>