<div id="casting-list" class="request-list">
	
	<% for casting in @castings %>
		
		<div class="request-line">
			<ul class="requst-info">
				<li><%= check_box_tag casting.id, casting.id %></li>
				<li><%= casting.name %></li>
			</ul>
			
			<ul class="requst-action">
				<li class="request-icon request-view"><%= link_to 'Visualizar', subdomain_casting_path(@website.subdomain, casting), title: 'Visualizar' %></li>
				<li class="request-icon request-del"><%= link_to 'Excluir', subdomain_casting_path(@website.subdomain, casting), method: :delete, remote: true, title: 'Excluir' %></li>
			</ul>
		</div>
		
	<% end %>
	
</div>