<div id="casting-manager" class="full-column-container put-center">
  
	<!-- *********** CONTENT *********** -->
	
	<div id="casting-models-info-content" class="auto-size-block clear-margin put-relative">
		<div id="content" class="full-column-width content-body">
			
			<!-- *********** SUB HEADER *********** -->
			
			<div id="subheader" class="auto-size-block">
				<h3 class="header-base-title-text-small">Lista de <strong>Castings</strong></h3>
				<p class="base-text">Navegue pelas listas de castings já criadas ou crie novas listas para serem compartilhadas.</p>
			</div>

			<div class="content-split"></div>

			<!-- *********** BODY *********** -->
			
			<div id="body" class="auto-size-block clear-margin">
				<div id="search">
					<%= render 'search' %>
				</div>

				<div id="casting-form" class="auto-size-block clear-margin">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>