@charset "UTF-8";
/* CSS Document */

/**************************************/
/*  UTILS  ****************************/
/**************************************/

form{ margin: 0px !important; }

#composite-template{
	width: 920px;
	height: 620px;
	margin: 10px auto;
	float: none;
	padding: 5px;
}

.composite-type-01{ background-color: #000; }
.composite-type-01 a,
.composite-type-01 p,
.composite-type-01 span{ color: #fff; }

.composite-coverimg{ margin-left: 20px; }

.composite-coverimg #composite-cover{
	width: 400px;
	height: 560px;
	background-color: #fff;
	margin: 10px 10px;
	font-size: 10px;
	color: #ccc;
	border: none;
	position: relative;
}

.composite-coverimg #composite-cover img{ margin: 0px; position: relative; width: auto; max-width: none; }

.composite-coverimg .composite-template-select{ margin: 12px 0px 0px 12px; }
.composite-coverimg .composite-template-select label{ font-size: 16px; font-weight: normal; color: #fff; padding-top: 5px; }
.composite-coverimg .composite-template-select select{ height: 30px; }

.composite-info{ margin: 2px 10px 0px 0px; }
.composite-info .composite-header{ margin: 2px 0px 2px 0px; }
.composite-info .composite-header h3{ font-size: 28px; font-weight: normal; color: #fff; }
.composite-info .composite-header ul,
.composite-info .composite-header ul li{ margin: 0px 3px 0px 0px; color: #fff; font-size: 11px; }

.composite-thumbs .is-droppable{ 
	width: 190px; 
	height: 220px; 
	display: block;
	margin: 0px 2px 1px 0px;
	border: none!important;
	background-color: #fff;
	float: left;
	font-size: 80%;
	color:#999;
	position: relative;
	overflow: hidden;
}

.composite-thumbs .is-droppable img{ margin: 0px; position: relative; width: auto; max-width: none; }

.composite-brands{ width: auto; height: auto; overflow: hidden; margin-top: 30px; }
.composite-brands span{ font-size: 18px; padding: 5px 0px; }

#composite-action{ width: 910px; margin: 0 auto; height: 22px; }

#model-gallery{ 
	width:930px; 
	height: 315px; 
	display: block; 
	border: none; 
	overflow: auto; 
	float: none;
	margin: 15px auto;
	padding: 0px 0px; 
}

#model-gallery li.is-draggable{
	width: 140px;
	height: 140px;
	display: block;
	float: left;
	border: 1px solid #696868;
	margin: 0 10px 10px 0px;
	padding: 0px !important;
	background:none;
	cursor: move;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 1px 1px 0px #898989;
	-moz-box-shadow: 0px 1px 1px 0px #898989;
	-webkit-box-shadow: 0px 1px 1px 0px #898989;
}

#model-gallery li.is-draggable img{ margin: 0px; position: relative; width: auto; max-width: none; }

.composite-type-02{ background-color: #fff; border: 1px solid #CCC; }
.composite-type-02 a,
.composite-type-02 p,
.composite-type-02 span{ color: #000; }

.composite-type-02 #composite-cover{ background-color: #CCC; color: #000; }
.composite-type-02 .composite-coverimg .composite-template-select label{ color: #000; }
.composite-type-02 .composite-header h3{ color: #000; }
.composite-type-02 .composite-info .composite-header ul li{ color: #000; }
.composite-type-02 .composite-thumbs .is-droppable{ background-color: #CCC; }

.composite-type-03{ background: #1d1d1d url(admin/bg-composite-grafite.jpg) left bottom repeat-x scroll; border: 1px solid #000; }
.composite-type-03 a,
.composite-type-03 p,
.composite-type-03 span{ color: #fff; }