@charset "UTF-8";
/* CSS Document */

/**************************************************
					CONTAINER
**************************************************/
div#container{
	width:100%;
	height:100%;
	background-color: #FFF;
	background-image: none;
	border-top: 6px solid #e5e5e5;
	border-bottom: 18px solid #e5e5e5;
}

h1, h2, h3, h4, h5, h6{}

a{}

p.lead{
	font-size: 220% !important;
	border-bottom: 1px solid #acacac;
	padding: 0 !important;
}

p.default{
	text-align: justify;
	padding-bottom: 20px;
	border-bottom: 1px dotted #acacac;
}

label{}

input{}

span{ color: #FFF !important; font-size: 95%; }

div#footer span{ color: #FFF; font-size: 95%; }

div#container span{ color: #000; font-size: 95%; }

.request-list .request-line { width: 99%; }
ul#new-casting-list { margin: 0px 0px 0px 17px; }

div#nav-container ul li a:hover,
div#nav-container ul li a.active{
	border-bottom:3px solid #FFF;
}

/**************************************************
					HEADER
**************************************************/
div#container div#header{
	width: 100%;
	height: auto;
	display: block;
}

div#container div#header-wrapper{
	width: 960px;
	margin:0 auto;
	padding-top: 10px;
}

/* LOGO */
div#container div#header-wrapper div#logo-container{
	width:auto;
	height:auto;
	margin: 0 auto;
}

div#container div#header-wrapper div#nav-container{
	text-align:center; 
	padding: 0px 0px 20px 0px;
}

div#container div#header-wrapper div#nav-container ul li{
	margin-right: 15px;
}

div#container div#header-wrapper div#nav-container ul li a{
	font-family: Verdana, sans-serif;
	font-size: 100%;
	color: #595959;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 3px 5px 3px !important;
	display: block;
}

div#container div#header-wrapper div#nav-container ul li a:hover{
	background-color: #acacac;
	color: #FFF;
}

div#container div#header-wrapper div#logo-container{ 
	width: 200px; 
	display: block; 
	margin: 0 auto;
}

div#container div#header-wrapper div#logo-container img{ 
	width: 200px;
	height: auto;
}

/**************************************************
			    CONTENT CONTAINER
**************************************************/
div#container div#content-container{
	width:100%;
	height:auto;
	margin-bottom: 10px;
}

div#container div#content-container-wrapper{
	background-color: #FFF;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

/**************************************************
			    HOME - SLIDE SHOW
**************************************************/

div#home-content-container{
	width: 960px;
	height: auto;
	max-height: 900px;
	position: relative;
}

div#home-slider,
div#home-slider-container{ 
	width: auto; 
	height: auto;
	display: block;
	overflow: hidden;
}

div#slide-loader{ 
	width: 100%; 
	height: 100%;
	max-height: 100%;
	display: none; 
	margin: 0 auto; 
	background-color: #fff; 
	position: absolute;
	z-index:999;
}

div#slide-loader img{ 
	width: 16px; 
	height: 16px; 
	display: block; 
	margin: 50px auto;
}

div.theme-home-model-box{
	width: 157px;
	height: 398px;
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
	margin-right: 15px;
}

div.theme-home-model-box img{
	width: auto;
	max-width: none;
	display: block;
	position: relative;
}

div#slide-photo-nav{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 398px;
	z-index:999;
}

div#slide-photo-nav a#btn-left{
	display: block;
	background:url(theme-elegant/bg/bg-arrow-slideshow-left.png) no-repeat;
	width: 101px;
	height: 398px;
	text-indent:-10000px;
	float: left;
}

div#slide-photo-nav a#btn-right{
	display: block;
	background:url(theme-elegant/bg/bg-arrow-slideshow-right.png) no-repeat;
	width: 101px;
	height: 398px;
	text-indent:-10000px;
	float: right;
	margin-right: -1px;
}

/**************************************************
					TEASER
**************************************************/
div#container div#teaser{width:960px; margin:0 auto; padding-top:10px;}

div#container div#teaser div.teaser-content{
	width: 310px;
	height: 50px;
	display: block;
	margin-right: 10px;
	
	background-color: #FFF;
	background-image: none;
	
	float: left;
	border: 1px solid #ACACAC;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	text-align: center;
}

div#container div#teaser div.teaser-content:last-child{ margin: 0px; }

div#container div#teaser div.teaser-content a{
	width: auto;
	font-family: Verdana, sans-serif;
	color: #575757;
	font-size: 160%;
	font-weight: bold;
	display: block;
	margin-top: 15px;
}

div#container div#teaser div.teaser-content a:hover{
	text-decoration: none;
	border-bottom: 1px dotted;
}

/**************************************************
					TEASER 02
**************************************************/

div#container div#teaser-02-container{
	width: 960px;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 15px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ACACAC;
	overflow: hidden;
}

div#container div#teaser-02-container .teaser-02-block{
	width: 310px;
	height: 150px;
	display: block;
	float: left;
	margin-right: 10px;
}

div#container div#teaser-02-container .teaser-02-block:last-child{ margin: 0 !important; }

/* ADDRESS BLOCK */
div#container div#teaser-02-container #address-block h4{
	font-family: Verdana, sans-serif;
	font-size: 160%;
	font-weight: normal;
	color: #808080;
	border-left: 7px solid #595959;
	padding-left: 15px;
}

div#container div#teaser-02-container #address-block p{
	margin: 0;
	padding: 10px 0 0 0;
	color: #000000;
	font-size: 120%;
	line-height: 1.3em;
}

div#container div#teaser-02-container .teaser-talk{
	width: 100%;
	height: auto;
	display: block;
	margin-top: 20px;
	padding: 10px 0px;
	background-color: #d9d9d9;
	color: #333;
	text-transform: uppercase;
	text-align: center;
	font-family: Verdana, sans-serif;
	font-size: 100%;
	
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

div#container div#teaser-02-container .teaser-talk:hover{ color: #FFF; }

/* REGISTER BLOCK */

div#container div#teaser-02-container div#register-block,
div#container div#teaser-02-container div#search-block{
	border: 1px solid #999;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}

/* PHOTO BG BLOCK */

div#container div#teaser-02-container .teaser-02-block .photo-bg{
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	
	opacity: 0.4;
	-moz-opacity: 0.4;
	filter:alpha(opacity=40);
}

div#container div#teaser-02-container .teaser-02-block .photo-bg img{
	width: auto;
	height: auto;
	max-width: none;
	position: absolute;
	/*top: -70px !important;*/
}

div#container div#teaser-02-container .teaser-02-block .banner-msg{
	width: 100%;
	height: 48px;
	display: block;
	position: absolute;
	z-index: 999;
	background-color: #FFF;
	text-align: center;
	top: 50%;
	margin-top: -24px;
	border-bottom: 4px solid #777;
}

div#container div#teaser-02-container .teaser-02-block .banner-msg a{
	text-transform: uppercase;
	color: #777;
	display: block;
	margin-top: 14px;
	font-size: 140%;
	font-weight: bold;
}

/**************************************************
				   		FOOTER
**************************************************/
div#footer{
	width:960px;
	margin:0 auto;
	padding: 10px 0 5px 0;
}

div#footer p.footer-msg{
	width: 100%;
	height: auto;
	margin: 0 0 0 0;
	padding: 0;
	font-size: 70%;
}

div#footer div#footer-nav{ margin: 10px 0px 10px 0px; }

div#footer div#footer-nav ul li{
	margin-right: 5px;
}

div#footer div#footer-nav ul li a{
	font-size: 80%;
	color: #595959;
	text-transform: uppercase;
	display: block;
	padding: 5px;
}

div#footer div#footer-nav ul li a:hover{
	background-color: #acacac;
	color: #FFF;
	text-decoration: none;
}

div#footer div#powered-by{
	width: auto;
	height: auto;
	display: block;
	clear: both;
	font-size: 70%;
	font-style: italic;
	margin-bottom: 20px;
	margin-top: -10px;
}

div#footer div#powered-by span{ margin: 0; padding: 0; color: #000 !important; font-weight: bold;}

/**************************************************
					    ABOUT
**************************************************/
div#container div#about-content-container{
	width:960px;
	height: auto;
	margin:0 auto;	
	overflow: hidden;
	background: #fff;
}

div#about-content-info{
	width:960px;
}

div#about-content-info p.lead{
	font-size: 220% !important;
	border-bottom: 1px solid #acacac;
	padding: 0 !important;
}

div#about-content-info p.default{
	text-align: justify;
	padding-bottom: 20px;
	border-bottom: 1px dotted #acacac;
}

div#about-content-picture{
	width:313px;
}
div#about-content-picture ul{
	margin: 0 !important;
	padding: 0 !important;
}
div#about-content-picture ul li{
	list-style:none;
	margin:0 0 2px 0;
	padding:0;
	height:168px;
	position: relative;
	overflow: hidden;
}

div#about-content-picture ul li:last-child{ margin:0 0 0 0; }

div#about-content-picture ul li img{
	max-width:none;
	position: absolute;
	margin:0;
	padding:0;
	height:168px;	
}

/**************************************************
					    MODELS
**************************************************/

div#admin-model-manage-container{ background-color: #FFF; }

div#admin-model-manage-container div#search-criteria-main{
	border-top: 1px dotted #a1a1a1;
	height: 125px;
}

div#admin-model-manage-container ul.search-menu li{
	border-right: 1px dotted #a1a1a1;
	margin: 0px;
	padding: 35px 15px; 
}

div#admin-model-manage-container ul.search-menu li:last-child{ border-right: none; }

div.paginator ul,
div.paginator ul li{ padding: 0; }

div#search-models-result{
	width: 940px;
	height: auto;
	display: block;
	padding:0px 0px 20px 15px;
}

div.model-box{
	width:302px;
	height:auto;
	display: block;
	float: left;
	margin: 0 0 2px 2px;
	position: relative !important;
}

div.model-box-links{
	position: absolute !important;
	bottom:0px !important;
}

div.model-box-links ul li.model-box-view-composite{
	position: static !important;
	top: 0 !important;
	left: 0 !important;
}

div.model-box-links ul li{
	width: 302px !important;
	border: none !important;
	margin-top: 2px !important;
}

div.model-box-links div.stars-group ul{ height: 26px !important; }
div.model-box-links div.stars-group ul li{ width: 23px !important; }

div#subdomain-model-information{ padding: 20px 0px 20px 0px; }
div#subdomain-model-information h2{ margin-left: 17px; }
div#subdomain-model-information h2 span{ color: #000 !important; font-weight: bold; }
div#subdomain-model-information div.bottom-ctrl-bar{ margin-left: 17px; }

/**************************************************
					MODELS SEARCH
**************************************************/

div#search-criteria-button img.search-criteria-load{ display: block; float: right; margin: 16px 0px 0px 20px; }

div#search-models-result div.model-box div.model-box-links{ display: none; }
div#search-models-result div.model-box:hover div.model-box-links{ display: block; }

/**************************************************
				CASTING FOREIGN
**************************************************/

div#casting-foreign-content-container div.casting-block{ padding: 20px; }
div#casting-foreign-content-container div.website-content-btns{ width: 50%; }

/**************************************************
					CASTING
**************************************************/

form#new_customer_casting{ padding-left: 17px; }

/**************************************************
					CONTANTO
**************************************************/

div#contactus-content-container{ width: 960px; height:auto; overflow: hidden; background-color: #FFF; }
div#contact-form{ width: 483px; float: left; }
div#contact-map{ width: 455px; float: left; clear: right; }
div#contact-form form,
div#bemodel-content-container form{ margin: 0; padding: 0; }

div#contactus-content-container div#contact-form input,
div#contactus-content-container div#contact-form textarea,
div#bemodel-content-container input,
div#bemodel-content-container textarea{
	border-radius:5px !important;
	-moz-border-radius:5px !important;
	-webkit-border-radius:5px !important;
	
	border: 1px solid #ACACAC;
	font: 1.1em Arial, Helvetica, sans-serif;
	width: 90%;
}

div#contactus-content-container div#contact-form input,
div#bemodel-content-container input{
	background-color: #FFF;
	background-image: none;
	height:48px;
	color:#232323;
}

div#contactus-content-container div#contact-form textarea,
div#bemodel-content-container textarea{
	background-color: #FFF;
	background-image: none;
	height:183px;
	padding: 10px 0 0 12px;
	color:#232323;
}

div#contactus-content-container div#contact-form input.btn-enviar,
div#bemodel-content-container input.btn-enviar{
	background:#FFF;
	width: 120px;
	float:right;
	height: 40px;
	border:1px solid #696969;	
	border-bottom-width:2px;
	cursor:pointer;
	font: 1.1em Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#232323;
	padding:0;
	margin-right: 40px;
}

div#bemodel-content-container input,
div#bemodel-content-container textarea{ width:99% }

div#bemodel-content-container input.btn-enviar{
	margin: 20px 0px;
	width: 100%;
	text-align: center;
}

/**************************************************
				CUSTOMER REQUEST
**************************************************/

div#customer-request-container{ width: 960px; height:auto; overflow: hidden; background-color: #FFF; }

div#customer-request-container .request-input-field{ margin-left: 17px; width: 440px; height: auto; }

div#customer-request-container .request-input-field input{
	border-radius:5px !important;
	-moz-border-radius:5px !important;
	-webkit-border-radius:5px !important;
	
	border: 1px solid #ACACAC;
	font: 1.1em Arial, Helvetica, sans-serif;
	width: 95%;
	height: 24px;
}

div#customer-request-container .request-textarea,
div#customer-request-container #request-form-button-set{ width:900px; margin-left: 17px;}

div#customer-request-container .request-textarea textarea{
	border-radius:5px !important;
	-moz-border-radius:5px !important;
	-webkit-border-radius:5px !important;
	
	border: 1px solid #ACACAC;
	font: 1.1em Arial, Helvetica, sans-serif;
	width: 97%;
	height: 183px;
}

div#customer-request-container #request-form-button-set{ margin-bottom: 20px; }
div#customer-request-container #request-form-button-set input.btn-enviar{
	background:#FFF;
	width: 99%;
	height: 40px;
	border:1px solid #696969;	
	border-bottom-width:2px;
	cursor:pointer;
	font: 1.1em Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#232323;
	padding: 0px 20px;
	margin: 5px 0px;
	text-align: center;
}

/**************************************************
			USER LOGIN » CASTING VIEW
**************************************************/

div#casting-models-result div.model-box div.model-box-links{ display: none; }
div#casting-models-result div.model-box:hover div.model-box-links{ display: block; }
