@charset "UTF-8";
/* CSS Document */


/**************************************/
/*  UTILS  ****************************/
/**************************************/

/*  POSITION, MARGIN AND PADDING ELEMENTS  ****************************/

.put-left{ float: left; }
.put-right{ float: right; }
.put-center{ display: block; margin:0 auto; }

.put-left-margin{ float: left; margin-left: 20px; }

.put-relative{ position: relative; }
.put-absolute{ position: absolute; }
.put-fixed{ position: fixed;}

.clear-margin{ margin: 0px; }
.clear-padding{ padding: 0px; }
.clear-margin-padding{ margin: 0px; padding: 0px; }

.put-list-inline,
.put-list-inline li{ list-style: none; display: inline-block; margin: 10px 5px; }




/*  INPUTS, BUTTON AND ANCHORS ELEMENTS  ****************************/

/* BUTTON CONTROLER BAR */
#btn-controller{
	width: 97%;
	height: auto;
	overflow: hidden;
	display: block;
	clear: both;
}

/* TEXT */
.input-txt-light-4-column{
	width:295px;
	height:23px !important;
	display: block !important;
	border: 1px solid #a1a1a1 !important;
	background:#fff url(admin/bg-input-light.jpg) left top repeat-x scroll !important;
}

.input-txt-light-6-columns{
	width:530px;
	height:23px !important;
	display: block !important;
	border: 1px solid #a1a1a1 !important;
	background:#fff url(admin/bg-input-light.jpg) left top repeat-x scroll !important;
}

.input-txt-light-8-columns{
	width: 610px;
	height:23px !important;
	display: block !important;
	border: 1px solid #a1a1a1 !important;
	background:#fff url(admin/bg-input-light.jpg) left top repeat-x scroll !important;
}

.input-txt-light-full{
	width: 90%;
	height:23px !important;
	display: block !important;
	border: 1px solid #a1a1a1 !important;
	background:#fff url(admin/bg-input-light.jpg) left top repeat-x scroll !important;
}

.input-txt-dark-full{
	width: 96%;
	height:38px !important;
	display: block !important;
	border: 1px solid #000 !important;
	background:#fff url(admin/bg-form-dark-full.jpg) left top repeat-x scroll !important;
}

/* Silver Buttons */
a.btn-silver-light-fluid,
span.btn-silver-light-fluid,
.btn-silver-light-fluid{
	width:auto !important;
	height:29px;
	display: block;
	padding: 8px 10px 0px 10px;
	margin-right: 10px;
	border-left: 1px solid #81817b;
	border-top: 1px solid #81817b;
	border-right: 1px solid #81817b;
	background:#fff url(admin/btn-bg-gray-fluid.jpg) left top repeat-x scroll !important;
	color: #000 !important;
	font-size: 13px;
	text-align: center;
	text-shadow: #fff 0px 1px 1px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.btn-silver-light-fluid:hover{ 
	text-decoration: underline; 
	color: #000;
}

.anchor-btn-silver-light-normal{
	width:193px !important;
	height:30px;
	padding-top: 8px;
	display: block;
	border: none;
	background:#fff url(admin/btn-bg-gray-normal.jpg) left bottom no-repeat scroll !important;
	color: #000 !important;
	font-size: 16px;
	text-align: center;
	text-shadow: #fff 0px 1px 1px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}


/* Gold Buttons */
.input-btn-gold-light-4-column{
	width:300px !important;
	height:38px;
	display: block;
	border: none;
	background:#fff url(admin/btn-bg-gold-4-column.jpg) left bottom no-repeat scroll !important;
	color: #000;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: #fff 0px 1px 1px;
	margin:7px 0px;
}

.anchor-btn-gold-light-4-column{
	width:300px !important;
	height:28px;
	padding-top: 10px;
	display: block;
	border: none;
	background:#fff url(admin/btn-bg-gold-4-column.jpg) left bottom no-repeat scroll !important;
	color: #000;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: #fff 0px 1px 1px;
}

.anchor-btn-gold-liquid{
	width: 80%;
	height: 30px;
	display: block;
	border: 1px solid #a19a2c;
	box-shadow: 0px 1px 1px 0px #807a21;
	padding-top: 12px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #141313;
	text-shadow: #ffff29 0px 1px 2px;
	background: transparent url(internal/btn-bg-gold-liquid.jpg) left top repeat-x scroll;
}

/* ERROR MSG */

.field-error-msg{
	width: 285px;
	height: 23px;
	display: block;
	background-color: #ffcccc;
	padding:3px 0 0 10px;
	border: 1px solid #e19898;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow:0px 1px 1px #999;
	-moz-box-shadow:0px 1px 1px #999;
	-webkit-box-shadow:0px 1px 1px #999;
}
.field-error-msg p{ font-size: 11px !important; font-weight: bold; color: #b46464 !important; }


/**************************************/
/*  GENERAL ITEMS  ********************/
/**************************************/

@font-face{
	font-family: 'Conv_Nexa';
	src: url('fonts/Nexa_Light.eot');
	src: url('fonts/Nexa_Light.ttf') format('truetype'), url('fonts/Nexa_Light.svg') format('svg'), url('fonts/Nexa_Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Conv_Nexa';
	src: url('fonts/Nexa_Bold.eot');
	src: url('fonts/Nexa_Bold.ttf') format('truetype'), url('fonts/Nexa_Bold.svg') format('svg'), url('fonts/Nexa_Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

div#main-content-container{
	width:100%;
	height: auto;
	max-height: 1220px;
	overflow: hidden;
	background: #000 url(internal/bg-internal.jpg) left top repeat-y scroll;
	color: #d4d4d4;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 95%;
}

div#content-wrapper{
	width: 70%;
	height: auto;
	overflow: auto;
	margin: 10px auto;
	padding-top: 10px;
	padding-bottom: 20px;
}

div#content-wrapper p{
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 110%;
	color: #d4d4d4;
}

.content-split{
	width:100%;
	height:1px;
	display: block;
	clear: both;
}

div#header h2,
h2.main-title{
	font-family:'Conv_Nexa',Sans-Serif;
	font-size: 350%;
	text-shadow: #000 0px 1px 1px;
	display: block;
	font-weight: normal;
	color: #fff22d;
	line-height: 1.2em;
}

h3.sub-title{
	font-family:'Conv_Nexa',Sans-Serif;
	font-size: 180%;
	display: block;
	font-weight: normal;
	font-style: italic;
	color: #fff22d;
	line-height: 1.2em;
}

div#header h2 span,
h2.main-title span{ font-weight: bold; }



/**************************************/
/*  TESTIMONIALS  *********************/
/**************************************/

ul.testimonial-item{
	width: 97%;
	height: auto;
	overflow: hidden;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: transparent url(internal/bg-testimonial-line.jpg) left bottom repeat-x scroll;
}

ul li.testimonial-body{
	min-height: 39px;
	font-size: 130%;
	background: transparent url(internal/bg-testimonial-body.png) left top no-repeat scroll;
	padding: 0px 0px 10px 60px;
	font-style: italic;
	vertical-align: middle;
}

ul li.testimonial-info{
	padding: 0px 0px 10px 60px;
	font-size: 110%;
	color: #636262;
}

.control-group label.control-label{
	width: auto;
}

div.save-edit-action-bar{
	width: 92%;
	height: auto;
	display: block;
	overflow: hidden;
	padding-bottom: 20px;
	margin-bottom: 40px;
	background: transparent url(internal/bg-testimonial-line.jpg) left bottom repeat-x scroll;
}

.control-group .controls{ margin: 0px 0px 0px 70px; }

.control-group .controls textarea{ 
	height: 10em; 
	width: 90%;
}


/**************************************/
/*  WHO WE ARE  ***********************/
/**************************************/

div#header h3{
	font:normal 110% Arial, Helvetica, sans-serif;
	font-style:italic;
	color:#fff200;
	margin-bottom:20px;
}

div#body p{
	font-size: 110%;
	margin-bottom:20px;	
	clear:both;
}

div#body ul.list{
	margin-bottom: 20px;
	float:left;
}

div#body ul.folder{
	float:right;
	margin-top:20px;
}

div#body ul.folder li{
	list-style:none;
	float:left;
	margin-left:20px;
}

div#body ul.folder li.setting a{
	background:url(internal/icon-setting.png) no-repeat;
	width: 141px;
	height: 120px;
	display:block;
	text-indent:-10000px;
}

div#body ul.folder li.seta a{
	background:url(internal/icon-seta.png) no-repeat;
	width: 141px;
	height: 120px;
	display:block;
	text-indent:-10000px;
}

div#body ul.folder li.balao a{
	background:url(internal/icon-balao.png) no-repeat;
	width: 141px;
	height: 120px;
	display:block;
	text-indent:-10000px;
}

div#body ul.list li{
	font-size: 110%;
	list-style:inside url(internal/list-icon.png);
	margin-top:3px;
}

div#body div#ajudar-content h2{
	font-family:'Conv_Nexa',Sans-Serif;
	font-size: 350%;
	text-shadow: #000 0px 1px 1px;
	display: block;
	font-weight: normal;
	color: #fff22d;
	line-height: 1.2em;
	height:57px;
	margin: 35px 0 20px 0;	
}

div#body div#ajudar-content span.ajudar-email{
	font:normal 28px Arial, Helvetica, sans-serif;
	display:block;
	margin-top:20px;
	background:url(internal/sep-ajuda.png) right 10px no-repeat;
	height:79px;
	width: 140px;
	padding-bottom:10px;
	float:left;
}

div#body div#ajudar-content span.email{
	font:normal 44px Arial, Helvetica, sans-serif;
	display:block;
	float:left;
	margin:40px 0 0 20px;
}

div#body div#ajudar-content .btn-enviar-email{
	background:url(internal/btn-enviar.png) no-repeat;
	width:200px;
	height:49px;
	display:block;
	float:left;
	text-indent:-10000px;
	margin: 40px 0 0 20px;	
}


/**************************************/
/*  PLANS AND REGISTER  ***************/
/**************************************/

div#plan-period{
	width: 45%;
	height: 43px;
	display: block;
	margin: 20px auto;
	padding-top: 1px;
	background: transparent url(internal/bg-plan-period.png)left top repeat-x scroll;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}

div#plan-period ul,
div#plan-period ul li{ list-style: none; }

div#plan-period ul{
	width: 97%;
	height: 35px;
	display: block;
	margin: 4px auto;
	background: transparent url(internal/bg-plan-period-list.png)left top repeat-x scroll;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}

div#plan-period ul li{ 
	display: block; 
	float: left;
	width: auto;
	height: 32px;
	border-right: 1px solid #413f3f;
	border-left: 1px solid #000;
}

div#plan-period ul li:first-child{ border-left: none; }
div#plan-period ul li:last-child{ border-right: none; }

div#plan-period ul li a{
	color: #fff;
	height: 25px;
	display: block;
	width: 10.8em;
	text-align: center;
	padding-top: 7px;
}

div#plan-period ul li a.monthly{
	border-radius:6px 0px 0px 6px;
	-moz-border-radius:6px 0px 0px 6px;
	-webkit-border-radius:6px 0px 0px 6px;
}

div#plan-period ul li a.annual{
	border-radius:0px 6px 6px 0px;
	-moz-border-radius:0px 6px 6px 0px;
	-webkit-border-radius:0px 6px 6px 0px;
}

div#plan-period ul li a:hover,
div#plan-period ul li a.period-active{ 
	color: #d3c821; 
	background: url(internal/bg-plan-period-item-hover.jpg) left top repeat-x scroll;
}

div#plan-type{ 
	position: relative;
	width: 90%;
	height: 445px;
	overflow: hidden;
	margin: 10px auto;
}

div#plan-type div{
	width: 34%;
	height: auto;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #acacac;
	position: absolute;
	top: 0px;
	padding-bottom: 10px;
	box-shadow: 0px 3px 2px 0px #000;
	-moz-box-shadow: 0px 3px 2px 0px #000;
	-webkit-box-shadow: 0px 3px 2px 0px #000;
	color: #000;
	font-size: 110%;
}

div#plan-type div:hover{ background-color: #cac9c9; }

div#plan-type div#type-01{ left: 0; margin-top: 20px; }
div#plan-type div#type-02{ left: 50%; z-index: 50; margin-left: -160px; background-color: #cac9c9; }
div#plan-type div#type-03{ right: 0; margin-top: 20px; }

div#plan-type div h3{
	font-family:'Conv_Nexa',Sans-Serif;
	text-shadow: #000 0px 1px 1px;
	display: block;
	font-weight: normal;
	line-height: 1.2em;
	color: #d4d4d4;
	width: 100%;
	background-color: #000;
	text-align: center;
	font-size: 160%;
	margin: 0px 0px 10px 0px;
	padding: 5% 0px 3% 0px;
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
}

div#plan-type div ul,
div#plan-type div ul li{ list-style: none; margin: 20px 0px; }

div#plan-type div ul{ 
	margin: 40px 0; 
	width: auto; 
	padding-left: 15px;
}

div#plan-type div ul li{ 
	width: auto; 
	height: auto; 
	display: block;
	padding-left: 23px;
	margin: 10px 0px;
	background: transparent url(internal/bullet-plan-list-item.png) left 5px no-repeat scroll;
}

div#plan-type div ul li.have{
	height: 18px;
	background: transparent url(internal/icon-domain.png) left 4px no-repeat scroll;
}

div#plan-type div ul li.no-have{
	height: 18px;
	background: transparent url(internal/icon-domain.png) left -14px no-repeat scroll;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;
	filter:alpha(opacity=50);
}

div#plan-type div p{
	font-family:'Conv_Nexa',Sans-Serif;
	text-shadow: #858585 0px 1px 2px;
	text-align: center;
	display: block;
	font-weight: normal;
	line-height: 1.2em;
	color: #f5e92c;
	width: 100%;
	padding-bottom: 15px;
	background: transparent url(internal/bg-line-plan.gif) left bottom repeat-x scroll;
	text-align: center;
	font-size: 190%;
}

div#plan-type div p span{ font-size: 70%; }

div#plan-type div#type-02 p{ margin-top: 30%; }

div#plan-type a.anchor-btn-gold-liquid{ margin: 35px auto; }

/**************************************/
/*  REGISTRATION  *********************/
/**************************************/

div#register-free input.input-btn-gold-light-4-column{ margin-right: 1%; }

div.form-register{
	width: 45%;
	height: 100%;
	overflow: hidden;
	float: left;
	margin-top: 3%;
}

div.form-register-field{
	width: 100%;
	display: block;
	padding-bottom: 2%;
}

div.form-register-field div.controls{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

div.form-register-field div.controls input{
	width: 96%;
	height:28px !important;
	display: block !important;
	border: 1px solid #000 !important;
	background:#fff url(internal/bg-form-dark-full.jpg) left top repeat-x scroll !important;
}

div.form-register-field a.btn-continue{
	float: right;
	width: 50%;
	margin-right: 1%;
}

div.plan-summary-folder{
	width: 49%;
	height: 28em;
	margin-top: 3%;
	overflow: hidden;
	float: right;
	padding-top: 4.3em;
	background: transparent url(internal/bg-folder.png) left top no-repeat scroll;
}

div.plan-summary-folder h4{
	font-family:'Conv_Nexa',Sans-Serif;
	font-size: 200%;
	display: block;
	font-weight: normal;
	color: #fff22d;
	line-height: 1.2em;
	text-align: center;
}

div.plan-summary-folder ul,
div.plan-summary-folder li{ list-style: none; padding: 7px 0px; }

div.plan-summary-folder ul{ 
	width: auto; 
	padding-left: 15px;
	padding-top: 1px;
	padding-bottom: 15px;
	font-size: 110%;
}

div.plan-summary-folder ul li{ 
	width: 85%; 
	height: auto; 
	display: block;
	padding-left: 23px;
	background: transparent url(internal/bullet-plan-list-item.png) left 12px no-repeat scroll;
	border-bottom: 1px solid #444347;
	border-top: 1px solid #161515;
}

div.plan-summary-folder ul li:first-child{ border-top: none; }
div.plan-summary-folder ul li:last-child{ border-bottom: none; }

div.plan-summary-folder ul li.have{
	height: 18px;
	background: transparent url(internal/icon-domain-true.png) left 12px no-repeat scroll;
}

div.plan-summary-folder ul li.no-have{
	height: 18px;
	background: transparent url(internal/icon-domain-false.png) left 12px no-repeat scroll;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;
	filter:alpha(opacity=50);
}

div.plan-summary-folder p{
	font-family:'Conv_Nexa',Sans-Serif !important;
	font-size: 280% !important;
	display: block;
	font-weight: bold;
	color: #fff22d !important;
	line-height: 1.2em !important;
	text-align: center;
	text-shadow: #000 0px 1px 2px;
}

div.plan-summary-folder p span{ font-size: 50% !important; }

div.register-steps{
	width: 99%;
	height: 6em;
	overflow: hidden;
	display: block;
	position: relative;
	margin: 1% 0 4% 0;
}

div.register-steps div.register-steps-line{
	width: 97%;
	height: 4.2em;
	border-bottom: 1px dotted #575757;
	position: absolute;
	top: 0;
	left: 1%;
	z-index: 5;
}

div.register-steps-labels{
	width: 99%;
	height: 4em;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 10;
}

div.register-steps div.register-steps-labels ul,
div.register-steps div.register-steps-labels ul li{ list-style: none; margin: 0; padding: 0; }
div.register-steps div.register-steps-labels ul li{ display: block; float: left; width: auto; height: auto; font-size: 100%; color: #000; font-weight: bold; }
div.register-steps div.register-steps-labels ul li.register-steps-01{}
div.register-steps div.register-steps-labels ul li.register-steps-02{ margin-left: 31%; }
div.register-steps div.register-steps-labels ul li.register-steps-03{ float: right; }

div.register-step-01 div.register-steps-labels ul li.register-steps-01{ color: #fff200; }
div.register-step-02 div.register-steps-labels ul li.register-steps-01{ color: #fff200; }
div.register-step-03 div.register-steps-labels ul li.register-steps-01{ color: #fff200; }
div.register-step-02 div.register-steps-labels ul li.register-steps-02{ color: #fff200; }
div.register-step-03 div.register-steps-labels ul li.register-steps-02{ color: #fff200; }
div.register-step-03 div.register-steps-labels ul li.register-steps-03{ color: #fff200; }

div.register-steps div.register-steps-icons{
	width: 99%;
	height: 4em;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	z-index: 10;
}

div.register-steps div.register-steps-icons ul,
div.register-steps div.register-steps-icons ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}

div.register-steps div.register-steps-icons ul li{
	display: block;
	float: left;
	width: 44px;
	height: 53px;
	background: transparent url(internal/icon-pay-steps.png) left top no-repeat scroll;
	text-indent: -10000px;
}

div.register-steps div.register-steps-icons ul li.register-steps-icon-02{ margin-left: 41%; background-position: -44px top; }
div.register-steps div.register-steps-icons ul li.register-steps-icon-03{ float: right; background-position: -88px top; }


div.register-step-01 div.register-steps-icons ul li.register-steps-icon-01{ background-position: 0px bottom; }
div.register-step-02 div.register-steps-icons ul li.register-steps-icon-01{ background-position: 0px bottom; }
div.register-step-03 div.register-steps-icons ul li.register-steps-icon-01{ background-position: 0px bottom; }
div.register-step-02 div.register-steps-icons ul li.register-steps-icon-02{ background-position: -44px bottom; }
div.register-step-03 div.register-steps-icons ul li.register-steps-icon-02{ background-position: -44px bottom; }
div.register-step-03 div.register-steps-icons ul li.register-steps-icon-03{ background-position: -88px bottom; }

div#register-pay-03 ul.payments,
div#register-pay-03 ul.payments li{ list-style: none; padding-bottom: 20px; }
div#register-pay-03 ul.payments li{ display: block; float: right; margin-left: 12%; }
