<div class="row">
  <div class="itens_per_page span3">
    <p>
      Itens por página:
      <%= select_tag :itens_per_page, options_for_select(itens_per_page, params[:itens_per_page]), class: 'input-mini' %>
    </p>
  </div>
  <div class="span6">
    <%= paginate @casting_models %>
    <%= hidden_field_tag :page, params[:page] %>
  </div>
  <div class="order_column span3">
    <p>
      Ordenar por:
      <%= select_tag :order_column, options_for_select(model_casting_order_columns, params[:order_column]), :include_blank => true, class: 'input-medium' %>
    </p>
  </div>
</div>