<%= stylesheet_link_tag    "internal" %>

<div id="main-content-container">
	
	<div id="content-wrapper">
		
		<div id="header">
			<h2>Editar Depoimento</h2>
		</div>
		
		<div id="body">
			
			<%= render "form" %>
			
			<div id="btn-controller">
				
				<%= link_to "Voltar", testimonials_path, :class => "anchor-btn-silver-light-normal" %>	
				
			</div>
			
		</div>
		
	</div>
	
</div>
