<div id="modal-share-casting" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">

  <!-- ************** HEADER ************** -->

  <div class="modal-header">
    <h2 class="font-body-title">Compartilhar <span class="font-body-title-bold">Casting</span></h2>
	<p>Digite o e-mail do cliente o qual você deseja compartilhar seu casting.</p>
  </div>

  <%= form_tag casting_share_path(@casting), method: :post, remote: true do |f| %>

  <!-- ************** BODY ************** -->

	<div class="modal-body">
		<ul id="new-message-list" class="auto-size-block put-list-inline">
			<li><input type="text" name="customer" data-provide="typeahead" data-items="4" data-source="<%= @customers_names %>" /></li>
			<li><%= submit_tag 'Compartilhar Casting', class: 'btn-silver-light-fluid', id: "btn-send-share-casting" %></li>
			<li class="loader-gif"><%= image_tag "admin/ajax-loader.gif" %></li>
		</ul>
	</div>

  <% end %> 

</div>